<div *ngIf="showPDPA" class="pdpa-popup-overlay">
  <div class="pdpa-popup">

    <h1 style="text-align: center;">นโยบายการคุ้มครองข้อมูลส่วนบุคคล (Privacy Policy)</h1>
    <h2 style="text-align: center;">กลุ่มบริษัท เดอะ วัน เอ็นเตอร์ไพรส์ จำกัด (มหาชน)</h2>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;กลุ่มบริษัท เดอะ วัน เอ็นเตอร์ไพรส์ จำกัด (มหาชน)
      (“กลุ่มบริษัท”) ประกอบด้วย บริษัท เดอะ วัน เอ็นเตอร์ไพรส์ จำกัด (มหาชน) และบริษัทย่อย ได้แก่ บริษัท วัน สามสิบเอ็ด
      จำกัด บริษัท เอ็กแซ็กท์ ซีเนริโอ จำกัด บริษัท แอ็กซ์ สตูดิโอ จำกัด บริษัท จีเอ็มเอ็ม แชนแนล โฮลดิ้ง จำกัด บริษัท
      จีเอ็มเอ็มทีวี จำกัด บริษัท เช้นจ์ 2561 จำกัด บริษัท จีเอ็มเอ็ม มีเดีย จำกัด (มหาชน) บริษัท เอ - ไทม์ มีเดีย จำกัด
      บริษัท จีเอ็มเอ็ม สตูดิโอส์ อินเตอร์เนชั่นแนล จำกัด บริษัท วันสนุก จำกัด บริษัท กู๊ดธิง แฮพเพ่น จำกัด บริษัท ภาพดี
      ทวีสุข จำกัด บริษัท ที่ฟ้า สตูดิโอส์ จำกัดบริษัท จิงเจอซ์ จำกัด และบริษัท นีโอ วัน ซัสเทนเมนท์ จำกัด
      ต่อไปนี้จะเรียกบริษัทดังกล่าวแต่ละบริษัทว่า “บริษัทในเครือ” รวมถึงผู้ถือหุ้นรายใหญ่ ได้แก่ บริษัท จีเอ็มเอ็ม
      แกรมมี่ จำกัด (มหาชน)</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;กลุ่มบริษัท บริษัทในเครือ และ/หรือผู้ถือหุ้นรายใหญ่
      เป็นผู้ดำเนินการเพื่อให้บริการเว็บไซต์และแอปพลิเคชัน รวมทั้งเพจทางการทางบัญชีโซเชียลมีเดียของกลุ่มบริษัท
      บริษัทในเครือ และ/หรือผู้ถือหุ้นรายใหญ่บนเดสก์ท็อป อุปกรณ์มือถือ แท็บเล็ต และอุปกรณ์อื่น ๆ ที่จะมีขึ้นในอนาคต
      กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ขอแจ้งให้ท่านทราบ เพื่อให้ท่านมั่นใจได้ว่า
      ท่านจะได้รับความคุ้มครองสิทธิตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 กลุ่มบริษัท บริษัทในเครือ และ/หรือ
      ผู้ถือหุ้นรายใหญ่จึงได้มีนโยบายการคุ้มครองข้อมูลส่วนบุคคลฉบับนี้ โดยระบุถึงหลักเกณฑ์การเก็บรวบรวม ใช้
      และเปิดเผยข้อมูลส่วนบุคคล และมาตรการกำกับดูแล</p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นโยบายการคุ้มครองข้อมูลส่วนบุคคลฉบับนี้อธิบายถึงวิธีการที่กลุ่มบริษัท
      บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ เก็บรวบรวม ใช้
      และเปิดเผยข้อมูลส่วนบุคคลในการที่ท่านเข้ามาที่เว็บไซต์และแอปพลิเคชัน รวมทั้งบัญชีสื่อสังคมออนไลน์ทุกระบบปฏิบัติการ
      และ/หรือ แอปพลิเคชันของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ทั้งทางตรงและทางอ้อม</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่
      อาจดำเนินการตรวจสอบนโยบายการคุ้มครองข้อมูลส่วนบุคคลของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่
      เป็นครั้งคราว และหากกลุ่มบริษัท และ/หรือบริษัทในเครือ เปลี่ยนแปลงเนื้อหาสาระสำคัญใด ๆ
      ในนโยบายการคุ้มครองข้อมูลส่วนบุคคลฉบับนี้ กลุ่มบริษัท บริษัทในเครือ และ/หรือ
      ผู้ถือหุ้นรายใหญ่จะแจ้งให้ท่านทราบถึงการเปลี่ยนแปลงดังกล่าว
      เพื่อให้ท่านสามารถเข้าไปศึกษาและให้ความตกลงยอมรับข้อกำหนดและเงื่อนไขของนโยบายการคุ้มครองข้อมูลส่วนบุคคลที่มีผลบังคับใช้ใหม่
    </p>

    <h3>1. ความหมายและประเภทของข้อมูลส่วนบุคคล</h3>

    <p>1.1		ความหมายของข้อมูลส่วนบุคคล</p>
    <p>ข้อมูลส่วนบุคคล หมายถึง ข้อมูลเกี่ยวกับท่านซึ่งทำให้สามารถระบุตัวท่านได้ไม่ว่าทางตรงหรือทางอ้อม</p>

    <p>1.2	ประเภทของข้อมูลส่วนบุคคลที่กลุ่มบริษัท และ/หรือบริษัทในเครือ เก็บรวบรวม</p>
    <p>ประเภทของข้อมูลส่วนบุคคลที่กลุ่มบริษัท และ/หรือบริษัทในเครือ เก็บรวบรวม
      กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ เก็บรวบรวมข้อมูลส่วนบุคคล ผ่านการกรอกแบบฟอร์มในรูปแบบต่าง ๆ เช่น การลงทะเบียนเข้าใช้งาน การทำแบบสอบถาม การติดต่อต่าง ๆ ผ่านช่องทางบัญชี  โซเชียลมีเดียของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ หรือผ่านช่องทางอื่น ๆ และคุกกี้หรือเทคโนโลยีที่ทำหน้าที่คล้ายคลึงกับคุกกี้ อาทิ เช่น ชื่อ – นามสกุล ชื่อเล่น รูปถ่าย อายุ ที่อยู่ อีเมล เพศ วันเกิด เบอร์โทรศัพท์ สถานภาพสมรส ระดับการศึกษา อาชีพ รายได้ส่วนบุคคล/ครอบครัว บัญชีโซเชียลมีเดีย หมายเลขไอพีคอมพิวเตอร์ ประวัติการค้นหาประวัติการเข้าชมรายการสด/ย้อนหลัง วัน เวลา และระยะเวลาที่ท่านเข้าใช้บริการเยี่ยมชมเว็บไซต์/แอปพลิเคชัน ประเภทของโปรแกรมเบราว์เซอร์ และสถิติอื่น ๆ ที่เกี่ยวข้อง
    </p>

    <h3>2. ฐานที่กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ใช้ในการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล
    </h3>
    <p>ในการเก็บรวบรวมข้อมูลส่วนบุคคล กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ จะมีการขอการยอมรับและยินยอมจากท่าน ก่อนหรือขณะเก็บรวบรวม ด้วยวิธีการทางอิเล็กทรอนิคส์ หรือวิธีอื่นใด พร้อมทั้งแจ้งถึงวัตถุประสงค์ของการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลประกอบ ยกเว้นกรณีที่กฎหมายให้อำนาจกลุ่มบริษัท และ/หรือบริษัทในเครือ เก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลโดยไม่จำเป็นต้องได้รับการยอมรับและยินยอมจากท่าน ซึ่งมีกรณีดังต่อไปนี้</p>
<p>2.1		เป็นการจำเป็นเพื่อการปฏิบัติตามสัญญาระหว่างท่านกับกลุ่มบริษัท และ/หรือบริษัทในเครือ หรือเพื่อใช้ในการดำเนินการตามคำขอของท่านก่อนเข้าทำสัญญา</p>
<p>2.2 	เพื่อให้บรรลุวัตถุประสงค์ที่เกี่ยวกับการจัดทำเอกสารประวัติศาสตร์หรือจดหมายเหตุเพื่อประโยชน์สาธารณะ หรือการศึกษาวิจัยหรือสถิติซึ่งมีมาตราการปกป้องที่เหมาะสมเพื่อคุ้มครองสิทธิและเสรีภาพ</p>
<p>2.3 	เพื่อป้องกันหรือระงับอันตรายต่อชีวิต ร่างกาย หรือสุขภาพ</p>
<p>2.4 	เป็นการจำเป็นเพื่อการปฏิบัติหน้าที่ในการดำเนินภารกิจเพื่อประโยชน์สาธารณะของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ หรือปฏิบัติหน้าที่ในการใช้อำนาจรัฐที่ได้มอบให้แก่กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่</p>
<p>2.5	เป็นการจำเป็นเพื่อประโยชน์โดยชอบด้วยกฎหมายของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ หรือของบุคคลหรือนิติบุคคลอื่นที่ไม่ใช่กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ เว้นแต่ประโยชน์ดังกล่าวมีความสำคัญน้อยกว่าสิทธิขั้นพื้นฐานในข้อมูลส่วนบุคคล</p>
<p>2.6	เป็นการปฏิบัติตามกฎหมายของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;กรณีที่กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ไม่ทราบมาก่อนว่าเจ้าของข้อมูลส่วนบุคคลเป็นผู้เยาว์ (บุคคลซึ่งมีอายุต่ำกว่า 20 ปีบริบูรณ์) คนไร้ความสามารถหรือคนเสมือนไร้ความสามารถ และมาพบในภายหลังว่ากลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ได้เก็บรวบรวมข้อมูลของเจ้าของข้อมูลส่วนบุคคลดังกล่าวโดยยังมิได้รับความยินยอมจากผู้ใช้อำนาจปกครองที่มีอำนาจกระทำการแทนผู้เยาว์ หรือผู้อนุบาล หรือผู้พิทักษ์ตามแต่กรณี กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ จะดำเนินการลบทำลายข้อมูลส่วนบุคคลนั้น   หากกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ไม่มีเหตุอันชอบด้วยกฎหมายประการอื่นในการเก็บรวบรวม ใช้หรือเปิดเผยข้อมูลดังกล่าว</p>


    <h3>3. วัตถุประสงค์ของการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ เก็บรวบรวมข้อมูลส่วนบุคคล เพื่อนำไปใช้ หรือเปิดเผยตามวัตถุประสงค์ที่ท่านได้ตกลงเข้าผูกพันและให้ความยินยอมแล้ว ดังต่อไปนี้</p>
    <p>3.1	เพื่อการให้บริการทางเว็บไซต์และแอปพลิเคชัน</p>
    <p>3.2 	เพื่อการจัดทำฐานข้อมูลและประวัติการเข้ารับบริการของทางกลุ่มบริษัท และ/หรือบริษัทในเครือ</p>
    <p>3.3 	เพื่อศึกษาและรับทราบข้อมูลสถิติของผู้ใช้บริการ เพื่อให้กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ เข้าถึงกลุ่มผู้ใช้บริการบนเว็บไซต์และแอปพลิเคชันของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ มากยิ่งขึ้น</p>
    <p>3.4 	เพื่อวิเคราะห์และประมวลผลจากประวัติการรับชมเนื้อหารายการ ร่วมกับประวัติการสืบค้นเนื้อหารายการ ของผู้ใช้บริการเพื่อนำเสนอเนื้อหารายการให้ตรงกับความสนใจของผู้ใช้บริการ</p>
    <p>3.5 	เพื่อประชาสัมพันธ์ข่าวสาร/เนื้อหาคอนเทนต์ (Content) จากกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ซึ่งกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ได้จัดส่งถึงผู้ใช้บริการ รวมถึงการจัดทำรายการส่งเสริมการขายที่เกี่ยวข้องกับเนื้อหาคอนเทนต์ (Content) ดังกล่าวให้เหมาะสมกับผู้ใช้บริการ</p>
    <p>3.6 	เพื่อการวิเคราะห์ ประมวลผล ทำกิจกรรมส่งเสริมการตลาด การวิจัย และการขาย รวมถึงการประชาสัมพันธ์สินค้า และบริการต่าง ๆ ไม่ว่าจะเป็นของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่  บริษัทร่วม เครือบริษัท คู่ค้า พันธมิตรทางธุรกิจ หรือของบุคคลอื่นผ่านการแจ้งเตือนผ่านเดสก์ท็อป อุปกรณ์มือถือ แท็บเล็ต และอุปกรณ์อื่น ๆ ที่มีลักษณะเดียวกัน</p>
    <p>3.7 	เพื่อดำเนินการ หรือ ปฏิบัติการ หรือ จัดให้มีบริการ หรือส่งต่อข้อมูลเพื่อดำเนินการตามวัตถุประสงค์ของการ	เก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลตามข้อใดข้อหนึ่งของข้อ 3. นี้ โดยกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่  คู่ค้า  ผู้ร่วมงาน ซัพพลายเออร์ หรือบุคคลอื่นใดที่ทำสัญญากับบริษัท หรือบริษัทย่อยซึ่งเป็นคู่ค้า ผู้ร่วมงาน ซัพพลายเออร์ หรือบุคคลอื่นใดซึ่งเป็นพันธมิตรของบริษัท หรือ บริษัทย่อย หรือทำงานร่วมกับบริษัท หรือ บริษัทย่อย หรือบุคคลอื่นใดที่มีลักษณะคล้ายคลึงกัน</p>
    <p>3.8	เพื่อเป็นช่องทางติดต่อในการรับข้อติชม ข้อเสนอแนะจากผู้ใช้บริการ เพื่อนำมาปรับปรุงเนื้อหารายการของทางกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ให้ตรงตามความต้องการของผู้ใช้บริการ</p>
    <p>3.9	เพื่อเป็นช่องทางในการติดต่อผู้ใช้บริการที่ร่วมกิจกรรมกับกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นราย	ใหญ่</p>
    <p>3.10	เพื่อการบริหารจัดการบัญชีผู้ใช้งานของผู้ใช้บริการที่ลงทะเบียนในระบบของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ เพื่อพัฒนาปรับปรุงให้การใช้งานเว็บไซต์ของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ให้มีประสิทธิภาพมากขึ้น</p>
    <p>3.11	เพื่อการปฏิบัติตามกฎหมาย และกฎระเบียบ ตลอดจนแนวทางหรือข้อกำหนดต่าง ๆ ของหน่วยงานที่กำกับดูแลการดำเนินงานของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่</p>

    <h3>4. บุคคลหรือหน่วยงานซึ่งกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ อาจเปิดเผยข้อมูลส่วนบุคคล</h3>
    <p>4.1		บริษัทย่อย บริษัทร่วม และผู้ถือหุ้นรายใหญ่</p>
    <p>4.2 	บุคคลและนิติบุคคลอื่นที่เกี่ยวข้องกับการให้บริการของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ต่อผู้ใช้บริการ เพื่อบรรลุวัตถุประสงค์การเก็บรวบรวมและประมวลผลข้อมูลส่วนบุคคลตามที่ระบุไว้ในนโยบายความเป็นส่วนตัวนี้ เช่น ผู้ให้บริการเกี่ยวกับธุรกรรมและการเงิน ผู้ให้บริการด้านการขนส่ง ผู้ให้บริการทางด้านเทคโนโลยี ผู้ให้บริการจัดทำโปรแกรมและระบบไอทีต่าง ๆ เพื่อให้กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่  สามารถดำเนินธุรกิจและให้บริการแก่ท่าน รวมถึงดำเนินการใด ๆ ตามวัตถุประสงค์การเก็บรวบรวมและประมวลผลข้อมูลส่วนบุคคลตามที่ระบุไว้ในนโยบายความเป็นส่วนตัวนี้</p>
    <p>4.3		คู่ค้า ผู้ร่วมงาน ซัพพลายเออร์ พันธมิตรทางธุรกิจ หรือบุคคลอื่นใดที่ทำสัญญากับบริษัท หรือได้รับมอบหมายจากบริษัท หรือบริษัทย่อย หรือทำงานร่วมกับบริษัท หรือบุคคลอื่นใดที่มีลักษณะคล้ายคลึงกัน
      กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ จะแจ้งให้ผู้ที่ได้รับข้อมูลส่วนบุคคลมีมาตรการปกป้องข้อมูลอย่างเหมาะสมและประมวลผลข้อมูลส่วนบุคคลดังกล่าวเท่าที่จำเป็นเท่านั้น
      </p>

    <h3>5. การส่งหรือโอนข้อมูลส่วนบุคคลไปยังต่างประเทศ</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ในการดำเนินธุรกิจ กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ อาจจำเป็นต้องส่งหรือโอนข้อมูลส่วนบุคคลไปยังต่างประเทศ ซึ่งในกรณีนี้กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ จะใช้ความพยายามอย่างดีที่สุดในการส่งหรือโอนข้อมูลส่วนบุคคลไปยังบริษัทย่อยและบริษัทร่วม ซึ่งเป็นผู้ที่เกี่ยวข้องกับการให้บริการของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ต่อผู้ใช้บริการ หรือบุคคลอื่นที่มีมาตราฐานการคุ้มครองข้อมูลส่วนบุคคลที่เพียงพอ ด้วยวิธีการที่ปลอดภัยเพื่อรักษาความปลอดภัยของข้อมูลส่วนบุคคล ยกเว้นกรณีที่กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ สามารถส่งหรือโอนข้อมูลส่วนบุคคลดังกล่าวต่อไปยังต่างประเทศได้ ตามกรณีดังต่อไปนี้</p>
    <p>5.1		เป็นการปฏิบัติตามกฎหมาย</p>
    <p>5.2	  ได้แจ้งให้ท่านทราบถึงมาตรฐานการคุ้มครองข้อมูลส่วนบุคคลที่ไม่เพียงพอของประเทศปลายทางและได้รับความยินยอมจากท่านแล้ว</p>
    <p>5.3		เป็นการจำเป็นเพื่อปฏิบัติตามสัญญาที่ท่านเป็นคู่สัญญากับกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ หรือเพื่อใช้ในการดำเนินการตามคำขอของท่านก่อนการเข้าทำสัญญานั้น</p>
    <p>5.4		ปฏิบัติตามสัญญาระหว่างกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ กับบุคคลหรือนิติบุคคลอื่นเพื่อประโยชน์ของท่าน</p>
    <p>5.5		ป้องกันหรือระงับอันตรายต่อชีวิต ร่างกาย หรือสุขภาพของท่านหรือของบุคคลอื่น เมื่อท่านไม่สามารถให้ความยินยอมในขณะนั้นได้</p>
    <p>5.6		เป็นการจำเป็นเพื่อดำเนินภารกิจเพื่อประโยชน์สาธารณะที่สำคัญ</p>
    
    <h3>6. มาตรการความปลอดภัยสำหรับข้อมูลส่วนบุคคล</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ความปลอดภัยของข้อมูลส่วนบุคคลเป็นสิ่งสำคัญมากสำหรับกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ จึงได้นำมาตรฐานความปลอดภัยทางเทคนิคและการบริหารที่เหมาะสมมาใช้เพื่อปกป้องข้อมูลส่วนบุคคล จากการเข้าถึง การใช้หรือการเปิดเผยโดยไม่ได้รับอนุญาต การดัดแปลงเปลี่ยนแปลงแก้ไข การทำลายหรือทำให้สูญหาย โดยมีขั้นตอนการรักษาความปลอดภัยที่เหมาะสม เพื่อป้องกันการเข้าถึง การใช้ การเปิดเผย การดัดแปลงเปลี่ยนแปลงแก้ไข การทำลายหรือทำให้สูญหายซึ่งข้อมูลส่วนบุคคลจากผู้ที่ไม่มีสิทธิหรือหน้าที่ที่เกี่ยวข้องกับข้อมูลส่วนบุคคลนั้น และจะจัดให้มีการทบทวนมาตรการดังกล่าวเมื่อมีความจำเป็นหรือเมื่อเทคโนโลยีเปลี่ยนแปลงไปเพื่อให้มีประสิทธิภาพในการรักษาความปลอดภัยที่เหมาะสม</p>

  

    <h3>7. ระยะเวลาที่กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ เก็บรักษาข้อมูลส่วนบุคคล</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ จะเก็บรักษาข้อมูลส่วนบุคคลไว้ในระยะเวลาเท่าที่ข้อมูลนั้นยังมีความจำเป็นตามวัตถุประสงค์ในการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลเท่านั้น ตามรายละเอียดที่ได้กำหนดไว้ในนโยบายความเป็นส่วนตัวของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ หรือตามกฎหมายที่เกี่ยวข้อง ทั้งนี้ เมื่อพ้นระยะเวลาและข้อมูลส่วนบุคคลสิ้นความจำเป็นตามวัตถุประสงค์ดังกล่าวแล้ว กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ จะทำการลบ ทำลายข้อมูลส่วนบุคคล หรือทำให้ข้อมูลส่วนบุคคลไม่สามารถระบุตัวตนได้ต่อไป</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อย่างไรก็ดี ในกรณีที่มีข้อพิพาท การใช้สิทธิหรือคดีความอันเกี่ยวข้องกับข้อมูลส่วนบุคคล กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ขอสงวนสิทธิในการเก็บรักษาข้อมูลนั้นต่อไปจนกว่าข้อพิพาทนั้นจะได้มีคำสั่งหรือคำพิพากษาถึงที่สุด</p>
    
    <h3>8. สิทธิตามกฎหมายของท่านในฐานะเจ้าของข้อมูลส่วนบุคคล</h3>
    <p>8.1		ในกรณีที่ท่านได้ให้ความยินยอมแก่กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ในการเก็บรวบรวม ใช้หรือเปิดเผยข้อมูลส่วนบุคคล ท่านมีสิทธิถอนความยินยอมเมื่อใดก็ได้ตลอดระยะเวลาที่ข้อมูลส่วนบุคคลของท่านถูกเก็บรักษาโดยกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่  เว้นกรณีที่ยังคงมีสัญญาระหว่างท่านกับกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่  ที่ให้ประโยชน์แก่ท่านอยู่ หรือมีข้อจำกัดสิทธิโดยกฎหมายให้กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่  จำเป็นต้องเก็บรักษาข้อมูลต่อไป</p>
    <p>8.2		ท่านมีสิทธิเข้าถึง และรับสำเนาข้อมูลส่วนบุคคลของท่านที่อยู่ในความรับผิดชอบของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่   และขอให้เปิดเผยที่มาของข้อมูลส่วนบุคคลที่กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่  เก็บรวบรวมไว้โดยปราศจากความยินยอมของท่าน เว้นแต่กรณีที่กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ มีสิทธิปฏิเสธคำขอของท่านด้วยเหตุตามกฎหมายหรือคำสั่งศาล หรือกรณีที่การใช้สิทธิของท่านจะมีผลกระทบที่อาจก่อให้เกิดความเสียหายต่อสิทธิและเสรีภาพของบุคคลอื่น</p>
    <p>8.3		ท่านมีสิทธิขอรับ ส่งหรือโอนข้อมูลส่วนบุคคลของท่านจากกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ในรูปแบบที่สามารถอ่านหรือใช้งานโดยทั่วไปด้วยวิธีการอัตโนมัติและเทคโนโลยีที่กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ มีอยู่ในขณะนั้น เว้นแต่โดยสภาพทางเทคนิคไม่สามารถทำได้</p>
    <p>8.4		ท่านมีสิทธิคัดค้านการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่านเมื่อใดก็ได้ ภายใต้เงื่อนไขตามที่กฎหมายกำหนด</p>
    <p>8.5		ท่านมีสิทธิขอให้กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ลบหรือทำลายข้อมูลส่วนบุคคลของท่าน หรือทำให้ข้อมูลส่วนบุคคลของท่านเป็นข้อมูลที่ไม่สามารถระบุตัวบุคคลที่เป็นเจ้าของข้อมูลได้อีกต่อไป</p>
    <p>8.6		ท่านมีสิทธิขอให้ระงับการใช้ข้อมูลส่วนบุคคลของท่าน ภายใต้เงื่อนไขตามที่กฎหมายกำหนด</p>
    <p>8.7		ท่านมีสิทธิขอให้กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ แก้ไขข้อมูลส่วนบุคคลของท่านให้ถูกต้อง เป็นปัจจุบัน สมบูรณ์และไม่ก่อให้เกิดความเข้าใจผิด</p>
    

    <h3>9. นโยบายคุกกี้</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เว็บไซต์และแอปพลิเคชันของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ มีการใช้คุกกี้หรือเทคโนโลยีที่ทำหน้าที่คล้ายคลึงกับคุกกี้ เพื่อเก็บรวบรวมข้อมูลส่วนบุคคล ท่านสามารถศึกษาเพิ่มเติมได้ที่ นโยบายคุกกี้ (Cookie Policy) </p>

    <h3>10. นโยบายการคุ้มครองข้อมูลส่วนบุคคลของแพลตฟอร์มอื่น</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นโยบายการคุ้มครองข้อมูลส่วนบุคคลฉบับนี้ใช้เฉพาะการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่านที่ได้ให้ไว้แก่กลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ การให้บริการ หรือการใช้งานออนไลน์บนแพลตฟอร์มของกลุ่มบริษัท และ/หรือบริษัทในเครือ เท่านั้น โดยแพลตฟอร์มของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ อาจมีลิ้งเชื่อมต่อไปยังแพลตฟอร์มอื่น ๆ ที่ดำเนินการโดยบุคคลภายนอก หากท่านได้กดลิ้งไปยังแพลตฟอร์มอื่น ท่านจะต้องศึกษาเพิ่มเติมเกี่ยวกับนโยบายการคุ้มครองข้อมูลส่วนบุคคลของแพลตฟอร์มนั้น ๆ เพิ่มเติมแยกต่างหากจากของกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ ทางกลุ่มบริษัท บริษัทในเครือ และ/หรือ ผู้ถือหุ้นรายใหญ่ จะไม่รับผิดชอบต่อการคุ้มครองข้อมูลส่วนบุคคลของแพลตฟอร์มที่ดำเนินการโดยบุคคลภายนอกนี้</p>

    <h3>11. ช่องทางการติดต่อ - สอบถาม หรือ ใช้สิทธิตามกฎหมาย</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;หากท่านมีข้อสงสัย ข้อเสนอแนะเกี่ยวกับการเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลของกลุ่มบริษัท และ/หรือบริษัทในเครือ ยกเว้นผู้ถือหุ้นรายใหญ่ หรือท่านต้องการใช้สิทธิตามกฎหมายคุ้มครองข้อมูลส่วนบุคคล ท่านสามารถติดต่อ-สอบถามได้ที่</p>

    <p>11.1		คณะทำงานคุ้มครองข้อมูลส่วนบุคคล (Data Protection Officer : DPO)<br>
      เบอร์โทรศัพท์ 02 - 669 - 9000 ต่อ 8308<br>
      อีเมล dpo&#64;onee.one หรือ</p>

    <p>11.2		บริษัท เดอะ วัน เอ็นเตอร์ไพรส์ จำกัด (มหาชน) สำนักงานตั้งอยู่เลขที่ 50 อาคารจีเอ็มเอ็ม แกรมมี่ เพลส ถนนสุขุมวิท 21(อโศก) แขวงคลองเตยเหนือ เขตวัฒนา กรุงเทพฯ 10110<br>
      เบอร์โทรศัพท์ 02 - 669 - 9000 ต่อ 8308<br>
      อีเมล dpo&#64;onee.one</p>

<br><br><br><br>

      <div>
        <h1 style="text-align: center;">Privacy Policy</h1>
      <p  style="text-align: center;"><strong>The One Enterprise Public Company Limited Group</strong></p>
  
      <div class="section">
          <p>The One Enterprise Public Company Limited Group (“Group of Companies”) consists of The One Enterprise Public Company Limited and its subsidiaries, which are One 31 Company Limited, Exact Scenario Company Limited, Acts Studio Company Limited, GMM Channel Holding Company Limited, GMMTV Company Limited, Change2561 Company Limited, GMM Media Public Company Limited, A – Time Media Company Limited, GMM Studios International Company Limited, One Sanook Company Limited, Good things Happen Company Limited, PARBDEE TAWESUK Company Limited, TIFA Studios Company Limited, GINGERX Company Limited, Neo One Sustainment Company Limited. Hereinafter, each such company shall be referred to as an "Affiliate Company". This includes major shareholders such as GMM Grammy Public Company Limited ("Major Shareholders").</p>
          
          <p>The Group of Companies, Affiliate Companies and/or Major Shareholders provides services on websites and applications as well as online official pages on social media platforms available on desktops, mobile devices, tablets, and other devices which will be available later in the future (“Platforms”). The Group of Companies, Affiliate Companies and/or Major Shareholders publishes this Policy for the assurance that your rights as Data Subject will be protected under Thailand’s Personal Data Protection Act B.E. 2562 (“PDPA”) with our personal data processing guidelines and personal data security measures.</p>
          
          <p>This Privacy Policy will be explaining our data processing guidelines on your personal data which The Group of Companies, Affiliate Companies and/or Major Shareholders have been collected when you are directly and/or indirectly visited our Platforms.</p>
          
          <p>The Group of Companies, Affiliate Companies and/or Major Shareholders may review the Privacy Policy from time to time, should there be any material revision of this Policy, The Group of Companies, Affiliate Companies and/or Major Shareholders may notify you in order to improve and request your consent to the revised Policy.</p>
      </div>
  
      <div class="section">
          <h2>1. Personal Data</h2>
          <h3>1.1. Definition</h3>
          <p>“Personal Data” means any information relating to an identified or identifiable natural person.</p>
  
          <h3>1.2. Personal data that The Group of Companies, Affiliate Companies and/or Major Shareholders collects</h3>
          <p>The Group of Companies, Affiliate Companies and/or Major Shareholders collects your personal data through various forms such as registrations, surveys, or inquiries via websites, social medias, our Platforms or other means, and cookies or similar technologies. The collected Personal Data information includes names, surnames, nicknames, photos, age, addresses, e-mail addresses, gender, birthdays, telephone numbers, marital status, education, occupations, personal/family income, social media accounts, IP addresses, browsing/viewing history, website/application logs, browser programs, and other related statistics.</p>
      </div>
  
      <div class="section">
          <h2>2. Grounds for processing</h2>
          <p>Before or while collecting your personal data, purposes of processing of such data will be provided and your permission will be requested either by electronics or other means unless it is expressly allowed by law or requires your personal data to be given without your consent, which of the following processing type as follows:</p>
          <p>2.1. It is necessary for the performance of a contract to which you are a party, or in order to take steps at your request prior to entering into a contract;</p>
          <p>2.2. It is for the achievement of the purpose relating to the preparation of the historical documents or the archives for public interest, or for the purpose relating to research or statistics;</p>
          <p>2.3. It is for preventing or suppressing a danger to a Person’s life, body or health;</p>
          <p>2.4. It is necessary for the performance of a task carried out in the public interest by The Group of Companies, Affiliate Companies and/or Major Shareholders, or it is necessary for the exercising of official authority vested in The Group of Companies, Affiliate Companies and/or Major Shareholders;</p>
          <p>2.5. It is necessary for legitimate interests of The Group of Companies, Affiliate Companies and/or Major Shareholders or any other Persons or juristic persons other than The Group of Companies, Affiliate Companies and/or Major Shareholders, except where such interests are overridden by your fundamental rights;</p>
          <p>2.6. It is necessary for compliance with a law to which The Group of Companies, Affiliate Companies and/or Major Shareholders is subjected.</p>
          <p>Please note that The Group of Companies, Affiliate Companies and/or Major Shareholders have no intention to collect personal data from minors (individuals under 20 years of age). The Group of Companies, Affiliate Companies and/or Major Shareholders will begin the deleting process as soon as possible if found out that The Group of Companies, Affiliate Companies and/or Major Shareholders has collected minor’s personal data without permission from the holder of parental responsibility over the minor.</p>
      </div>
  
      <div class="section">
          <h2>3. Purposes of processing</h2>
          <p>3.1. To provide services on our Platforms</p>
          <p>3.2. To archive databases and services providing history</p>
          <p>3.3. To gain better access to the customers on our Platforms</p>
          <p>3.4. To provide tailored contents suitable to the audiences</p>
          <p>3.5. To introduce The Group of Companies, Affiliate Companies and/or Major Shareholders news and contents and provide promotional items or activities suitable to customers</p>
          <p>3.6. To analyze and research for promotional items or activities purposes and to introduce products and services from The Group of Companies, Affiliate Companies and/or Major Shareholders, our partners, and other relevant parties via any devices or other equipment</p>
          <p>3.7. To improve customer satisfaction through our contents</p>
          <p>3.8. To contact customers who join our activities or events in games held by The Group of Companies, Affiliate Companies and/or Major Shareholders</p>
          <p>3.9. To manage the registered customers’ accounts and survey to improve our services to provide a better customer experience or create new services on our Platforms</p>
          <p>3.10. To be compliance with a legal obligation to which The Group of Companies, Affiliate Companies and/or Major Shareholders is subject</p>
      </div>
  
      <div class="section">
          <h2>4. Disclosing of personal data</h2>
          <p>The Group of Companies, Affiliate Companies and/or Major Shareholders may disclose your personal data to the following:</p>
          <p>4.1. The Group of Companies, Affiliate Companies and/or Major Shareholders’ subsidiaries and affiliates;</p>
          <p>4.2. Individuals and/or juristic persons who involve in our process to bring you satisfaction with our services, i.e. banking and financial service providers, logistic service providers, technology service providers, and program and IT support service providers.</p>
          <p>The Group of Companies, Affiliate Companies and/or Major Shareholders will notify these service providers to have suitable and specific measures to safeguard your personal data and only process such personal data as much as necessary.</p>
      </div>
  
      <div class="section">
          <h2>5. Transferring of personal data to other countries</h2>
          <p>The Group of Companies, Affiliate Companies and/or Major Shareholders may transfer your personal data to our subsidiaries, affiliates, individuals and/or juristic persons, which are located or live in other countries, whose is essential to carry out the services The Group of Companies, Affiliate Companies and/or Major Shareholders is providing. In such case, The Group of Companies, Affiliate Companies and/or Major Shareholders ensures that destination countries that receive such personal data shall have adequate data protection standards except in the following circumstances:</p>
          <p>5.1. Where it is for compliance with the law;</p>
          <p>5.2. Where your consent has been obtained, provided that you have been informed of the inadequate personal data protection standards of the destination country;</p>
          <p>5.3. Where it is necessary for the performance of a contract to which you are a party, or in order to take steps at your request prior to entering into a contract;</p>
          <p>5.4. Where it is for compliance with a contract between The Group of Companies, Affiliate Companies and/or Major Shareholders, and other persons or juristic persons for your interests;</p>
          <p>5.5. Where it is to prevent or suppress a danger to your life, body, or health or other persons, when you are incapable of giving the consent at such time;</p>
          <p>5.6. Where it is necessary for carrying out the activities in relation to substantial public interest.</p>
      </div>
  
      <div class="section">
          <h2>6. Personal data security measures</h2>
          <p>The security of your personal data is of utmost importance to us. The Group of Companies, Affiliate Companies and/or Major Shareholders implements appropriate technical and administrative measures to protect your personal data from unauthorized access, misuse, disclosure, alteration, destruction, and loss by providing minimum security measures as required by law to prevent unauthorized access, misuse, disclosure, alteration, and destruction to personal data from those who do not have rights or duties related to that personal data. The Group of Companies, Affiliate Companies and/or Major Shareholders will review the above-mentioned measures when necessary or when the technology changes to ensure effective security.</p>
      </div>
  
      <div class="section">
          <h2>7. Retention period</h2>
          <p>The Group of Companies, Affiliate Companies and/or Major Shareholders will retain your personal data for the necessary timing to meet the processing purposes unless the law requires longer retention periods; when the retention period expires or when it becomes irrelevant or unnecessary for the purposes of collecting that personal data The Group of Companies, Affiliate Companies and/or Major Shareholders will delete, destroy, or make your personal data unidentifiable. However, should there be any dispute regarding such personal data The Group of Companies, Affiliate Companies and/or Major Shareholders reserves the right to retain that personal data further until there is a court’s final order or judgment on that dispute.</p>
      </div>
  
      <div class="section">
          <h2>8. Your rights as data subject</h2>
          <p>8.1. You have the right to withdraw your consent at any time.</p>
          <p>8.2. You have the right to request access to and obtain a copy of your Personal Data, which is under the responsibility of The Group of Companies, Affiliate Companies and/or Major Shareholders, or to request the disclosure of the acquisition of your Personal Data obtained without your consent.</p>
          <p>8.3. You have the right to receive your Personal Data from The Group of Companies, Affiliate Companies and/or Major Shareholders in the format which is readable or commonly used by ways of automatic tools or equipment, and can be used or disclosed by automated means; request The Group of Companies, Affiliate Companies and/or Major Shareholders to send or transfer your Personal Data in such formats to other Data Controllers if it can be done by the automatic means; request to directly obtain your Personal Data in such formats that The Group of Companies, Affiliate Companies and/or Major Shareholders sends or transfers to other Data Controllers, unless it is impossible to do so because of the technical circumstances.</p>
          <p>8.4. You have the right to object to the collection, use, or disclosure of your Personal Data.</p>
          <p>8.5. You have the right to request The Group of Companies, Affiliate Companies and/or Major Shareholders to erase or destroy your Personal Data.</p>
          <p>8.6. You have the right to request The Group of Companies, Affiliate Companies and/or Major Shareholders to restrict the use of your Personal Data.</p>
          <p>8.7. You have the right to have your Personal Data accurate, up-to-date, complete, and not misleading.</p>
      </div>
  
      <div class="section">
          <h2>9. Cookies</h2>
          <p>The Group of Companies, Affiliate Companies and/or Major Shareholders use cookies and other similar technologies to collect your personal data. For more details, please visit our Cookie Policy.</p>
      </div>
  
      <div class="section">
          <h2>10. Privacy Policy on other Platforms</h2>
          <p>This Privacy Policy applies to our Platforms only. When you visit our Platforms there may be links which lead to external sites operated by third parties. If you visit those sites, please learn their privacy policy apart from ours and The Group of Companies, Affiliate Companies and/or Major Shareholders will not be responsible for such claims or damages arising from those sites which are operated by third parties.</p>
      </div>
  
      <div class="section">
          <h2>11. Contact Information</h2>
          <p>Should there be any questions or suggestions regarding personal data or if you wish to exercise your rights as data subject, please feel free to contact us:</p>
          <p>11.1. The One Enterprise Public Company Limited</p>
          <p>Address: 50 GMM Grammy Place, Sukhumvit 21 Road (Asoke), Khlong Toei Nuea, Wattana, Bangkok, 10110.</p>
          <p>E-mail: <a href="mailto:dpo@onee.one">dpo&#64;onee.one</a></p>
          <p>11.2. Data Protection Officer (DPO)</p>
          <p>E-mail: <a href="mailto:dpo@onee.one">dpo&#64;onee.one</a></p>
      </div>
      </div>



    <div class="pdpa-actions mb-3" style=" justify-self: end;">
      <label class="ml-2">
        <input type="checkbox" [(ngModel)]="doNotShowAgain" />
        ไม่ต้องแสดงอีก
      </label>
      <button nz-button nzType="primary" (click)="acceptPDPA()">ยอมรับ</button>
    </div>

    
    
  </div>
</div>
<div class="content-card-search">
  <div *ngIf="isLoading" class="spinner-overlay">
    <div class="spinner"></div>
  </div>
  <h2>Master Data</h2>
  <div nz-row *ngIf="selectedTabIndex === 0">
    <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
      <nz-form-label nzNoColon>Type</nz-form-label>
      <nz-select [(ngModel)]="selectedType" (ngModelChange)="applyFilters()">
        <nz-option *ngFor="let source of sourceOptions" [nzValue]="source" [nzLabel]="source"></nz-option>
      </nz-select>
    </div>
    <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
      <nz-form-label nzNoColon>Customer & Supplier / Number</nz-form-label>
      <nz-input-group nzPrefixIcon="search" class="form-input">
        <input nz-input placeholder="Customer & Supplier / Number" [(ngModel)]="filters.num" (input)="applyFilters()" />
      </nz-input-group>
    </div>
    <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
      <nz-form-label nzNoColon>TaxID</nz-form-label>
      <nz-input-group nzPrefixIcon="search" class="form-input">
        <input nz-input placeholder="Tax" [(ngModel)]="filters.tax_Id" (input)="applyFilters()" />
      </nz-input-group>
    </div>
    <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
      <nz-form-label nzNoColon>Name</nz-form-label>
      <nz-input-group nzPrefixIcon="search" class="form-input">
        <input nz-input placeholder="ชื่อ" [(ngModel)]="filters.name" (input)="applyFilters()" />
      </nz-input-group>
    </div>
  </div>
  <div nz-row *ngIf="selectedTabIndex === 1">
    <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
      <nz-form-label nzNoColon>Type <span style="color: red;">*</span></nz-form-label>
      <nz-select [(ngModel)]="selectedTypeOld" (ngModelChange)="applyFilters()" nzPlaceHolder="Select Type">
        <nz-option *ngFor="let source of sourceOptionsOld" [nzValue]="source" [nzLabel]="source"></nz-option>
      </nz-select>
    </div>
    <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
      <nz-form-label nzNoColon>Customer & Supplier / Number</nz-form-label>
      <nz-input-group nzPrefixIcon="search" class="form-input">
        <input nz-input placeholder="Customer & Supplier / Number" [(ngModel)]="filtersOld.num"
          (keydown.enter)="searchDataOld()" />
      </nz-input-group>
    </div>
    <div *ngIf="selectedTypeOld !== 'Customer'" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
      <nz-form-label nzNoColon>TaxID</nz-form-label>
      <nz-input-group nzPrefixIcon="search" class="form-input">
        <input nz-input placeholder="Tax" [(ngModel)]="filtersOld.tax_Id" (keydown.enter)="searchDataOld()" />
      </nz-input-group>
    </div>
    <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
      <nz-form-label nzNoColon>Name</nz-form-label>
      <nz-input-group nzPrefixIcon="search" class="form-input">
        <input nz-input placeholder="ชื่อ" [(ngModel)]="filtersOld.name" (keydown.enter)="searchDataOld()" />
      </nz-input-group>
    </div>
    <div *ngIf="selectedTypeOld === 'Customer'" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
      <nz-form-label nzNoColon>Site</nz-form-label>
      <nz-input-group nzPrefixIcon="search" class="form-input">
        <input nz-input placeholder="Site" [(ngModel)]="filtersOld.site" (input)="applyFilters()" />
      </nz-input-group>
    </div>
  </div>

  <div *ngIf="selectedTabIndex === 0" class="mt-5 display-flex justify-center">
    <button nz-button nzType="primary" class="mr-2" (click)="applyFilters()"><span nz-icon nzType="search"
        nzTheme="outline"></span>ค้นหา</button>
  </div>

  <div *ngIf="selectedTabIndex === 1" class="mt-5 display-flex justify-center">
    <button nz-button nzType="primary" class="mr-2" (click)="searchDataOld()"><span nz-icon nzType="search"
        nzTheme="outline"></span>ค้นหา</button>
  </div>
</div>
<nz-tabset [nzSelectedIndex]="selectedTabIndex" (nzSelectedIndexChange)="onTabChange($event)" class=" mt-3">
  <nz-tab nzTitle="History">
    <div class="content-data-table">
      <nz-table #datatable nzBordered [nzData]="displayData" [nzFrontPagination]="false" [nzTotal]="filteredData.length"
        [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" (nzPageIndexChange)="onPageIndexChange($event)"
        (nzPageSizeChange)="onPageSizeChange($event)">
        <thead>
          <tr>
            <th *ngFor="let column of getVisibleColumns()" [nzSortFn]="column.compare"
              [nzSortPriority]="column.priority">
              {{ column.title }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of displayData; let i = index">
            <td style="text-align: right;">{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.num }}</td>
            <td class="text-center">{{ data.taxId }}</td>
            <td>{{ data.paymentMethod }}</td>
            <td class="text-center">{{ data.site }}</td>
            <td class="text-center">{{ data.company }}</td>
            <td class="text-center" *ngIf="this.isApprovedFN || this.isAdmin">{{ data.supplierGroup }}</td>
            <td class="text-center">{{ data.source }}</td>
            <td class="text-center">
              <button *ngIf="isApproved || isAdmin || isApprovedFN" nz-button nzType="primary" class="mr-1"
                nzShape="round" (click)="openModal(data)"><span nz-icon nzType="eye"
                  nzTheme="outline"></span>View</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Old Data">
    <div class="content-data-table">
      <nz-table #datatable nzBordered [nzData]="displayDataOld" [nzFrontPagination]="false"
        [nzTotal]="filteredDataOld.length" [nzPageIndex]="pageIndexOld" [nzPageSize]="pageSizeOld"
        (nzPageIndexChange)="onPageIndexChangeOld($event)" (nzPageSizeChange)="onPageSizeChangeOld($event)">
        <thead>
          <tr>
            <th *ngFor="let column of getVisibleColumnsOld()">
              {{ column.title }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of displayDataOld; let i = index">
            <td style="text-align: right;">{{ (pageIndexOld - 1) * pageSizeOld + i + 1 }}</td>
            <td>{{ data.NAME }}</td>
            <td>{{ data.NUM }}</td>
            <td class="text-center" *ngIf="data.TAX &&(this.isApprovedFN || this.isAdmin || this.isApproved)">{{
              data.TAX }}</td>
            <td class="text-center" *ngIf="!data.TAX && (this.isApprovedFN || this.isAdmin || this.isApproved)"></td>
            <td *ngIf="data.PAYMENT_MEDTHOD">{{ data.PAYMENT_MEDTHOD }}</td>
            <td *ngIf="!data.PAYMENT_MEDTHOD"></td>
            <td class="text-center" *ngIf="data.SITE">{{ data.SITE }}</td>
            <td *ngIf="!data.SITE"></td>
            <td class="text-center" *ngIf="data.OU_SHORT_NAME">{{ data.OU_SHORT_NAME }}</td>
            <td *ngIf="!data.OU_SHORT_NAME"></td>
            <td class="text-center" *ngIf="data.COMPANY_GROUP">{{ data.COMPANY_GROUP }}</td>
            <td *ngIf="!data.COMPANY_GROUP"></td>
            <td class="text-center">
              <button *ngIf="isApproved || isAdmin || isApprovedFN" nz-button nzType="primary" class="mr-1"
                nzShape="round" (click)="openModalold(data)"><span nz-icon nzType="eye"
                  nzTheme="outline"></span>View</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-tab>
</nz-tabset>