<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a target="_blank">
        <img src="assets/images/logo/logo-one-e.png" alt="logo" style="width: 20%;">
        <h1 style="font-size: 20px;">Financial Portal</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let item of filteredMenuItems">
        <li nz-menu-item *ngIf="!item.children">
          <a [routerLink]="item.route">
            <span nz-icon [nzType]="item.icon"></span>
            <span>{{ item.label }}</span>
          </a>
        </li>
        <li nz-submenu *ngIf="item.children" [nzTitle]="item.label" [nzIcon]="item.icon">
          <ul>
            <ng-container *ngFor="let subItem of item.children">
              <li nz-menu-item *ngIf="!subItem.children">
                <a [routerLink]="subItem.route" >
                  <span nz-icon [nzType]="subItem.icon"></span>
                  <span>{{ subItem.label }}</span>
                </a>
              </li>
              <li nz-submenu *ngIf="subItem.children" [nzTitle]="subItem.label" [nzIcon]="subItem.icon">
                <ul>
                  <li nz-menu-item *ngFor="let nestedItem of subItem.children">
                    <a [routerLink]="nestedItem.route">
                      <span nz-icon [nzType]="nestedItem.icon"></span>
                      <span>{{ nestedItem.label }}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
      <li nz-menu-item>
        <a [routerLink]="'/auth'">
          <span nz-icon [nzType]="'login'"></span>
          <span>ออกจากระบบ</span>
        </a>
      </li>
    </ul>
    
    

  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header display-flex justify-content-between     align-items-center ">
        <span class="header-trigger " (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
          <b class="ml-3 title-name-label">Financial Portal</b>
        </span>
        <div>
      
          <span nz-icon nzType="user-switch" class="font-size-22 mr-6 cursor-pointer" [nzSpin]="false" nz-popover
            nzPopoverTitle="ผู้ใช้งาน" [nzPopoverContent]="contentTemplateUser" nzPopoverPlacement="bottom"></span>
            <span nz-icon nzType="logout" class="font-size-22 mr-7 cursor-pointer" (click)="navigateTo('/auth')" [nzSpin]="false" nz-popover
            nzPopoverPlacement="bottom"></span>
        </div>
        <ng-template #contentTemplateUser>
          <div class=" mb-4 display-flex mt-1 align-items-center">
            <nz-avatar class=" ml-1" [nzSize]="36" nzIcon="user"></nz-avatar>
            <div class="display-grid ml-2">
              <b class="slate-gray-color font-size-17 ">{{ this.currentUser?.firstname }} {{  this.currentUser?.lastname }}</b>
              <span class="slate-gray-color  font-size-14">{{ this.currentUser?.username}}</span>
            </div>
          </div>
          <!-- <div>
            <button (click)="navigateTo('/auth')" class="button-logout-icon">ออกจากระบบ</button>
          </div> -->
        </ng-template>
      
      </div>
    </nz-header>
    <nz-content class="scroll">
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>