
<div class="details-container">
    <div class="details-row">
        <p class="details-label">Name:</p>
        <p class="details-value">{{ data?.NAME }}</p>
    </div>
    <div class="details-row">
        <p class="details-label">Tax ID:</p>
        <p class="details-value">{{ data?.TAX }}</p>
    </div>
    <div class="details-row">
        <p class="details-label">Number:</p>
        <p class="details-value">{{ data?.NUM }}</p>
    </div>
    <div class="details-row">
        <p class="details-label">Vendor Type:</p>
        <p class="details-value">{{ data?.VENDOR_TYPE }}</p>
    </div>
    <div class="details-row">
        <p class="details-label">Company Group:</p>
        <p class="details-value">{{ data?.COMPANY_GROUP }}</p>
    </div>
</div>