<div class="content-card-search">
    <h2>Download Form</h2>
    <div class="form-list">
        <div class="form-item">
            <span class="form-title">ใบขอใช้บริการระบบ Oracle (Oracle-Request Form)</span>
            <span class="material-symbols-outlined" style="cursor: pointer;">
                download
            </span>
        </div>

        <div class="form-item">
            <span class="form-title">ใบขอใช้บริการเทคโนโลยีสารสนเทศ (IT Service Request Form)</span>
            <span class="material-symbols-outlined" style="cursor: pointer;">
                download
            </span>
        </div>

        <div class="form-item">
            <span class="form-title">ใบขอยืมอุปกรณ์หรือวัสดุภายในองค์กร (IT Purchasing Request Form)</span>
            <span class="material-symbols-outlined" style="cursor: pointer;">
                download
            </span>
        </div>

        <div class="form-item">
            <span class="form-title">ใบขอใช้บริการระบบ SAP (SAP-Request Form)</span>
            <span class="material-symbols-outlined" style="cursor: pointer;">
                download
            </span>
        </div>
    </div>
</div>