.form-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    justify-content: space-between; /* เพิ่มช่องว่างระหว่างฟอร์ม */
    width: 100%; /* ใช้ความกว้างเต็มแถว */
    max-width: 900px; /* ควบคุมความกว้างสูงสุดเพื่อไม่ให้ฟอร์มขยายออกมากเกินไป */
    margin-bottom: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 45%; /* กำหนดความกว้างให้ครอบคลุมพื้นที่แถวละ 2 อัน */
    text-align: center;
}

.form-item img {
    width: 100%;
    height: auto;
}

.form-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: black;
    width: 100%;
}

.material-symbols-outlined {
    vertical-align: middle;
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column; /* เมื่อจอเล็ก ให้เรียงในแนวตั้ง */
        align-items: center;
    }

    .form-item {
        width: 100%; /* ให้ฟอร์มเต็มความกว้างของจอมือถือ */
        margin-bottom: 20px;
    }

    .form-title {
        font-size: 12px; /* ลดขนาดตัวอักษรเพื่อให้พอดีกับจอเล็ก */
    }
}
