<div class="content-card-search">
    <h2>Download Form</h2>
    <div class="form-list">
        <div class="form-row">
            <a href="{{customer}}" target="_blank" style="color: black;">
                <div class="form-item" style="cursor: pointer;">
                    <div class="mb-3">
                        <img src="assets/images/6.png" alt="logo" style="width: 100%;">
                    </div>
                    <span class="form-title">ใบขอเปิด Customer
                        [บุคคลธรรมดา/นิติบุคคล]
                        <span class="material-symbols-outlined"> download </span>
                    </span>
                </div>
            </a>
            <a href="{{supplier}}" target="_blank" style="color: black;">
                <div class="form-item" style="cursor: pointer;">
                    <div class="mb-3">
                        <img src="assets/images/7.png" alt="logo" style="width: 100%;">
                    </div>
                    <span class="form-title">ใบขอเปิด Supplier [บุคคลธรรมดา/นิติบุคคล]
                        <span class="material-symbols-outlined"> download </span>
                    </span>
                </div>
            </a>
        </div>
        <div class="form-row">
            <a href="{{oneIndividual}}" target="_blank" style="color: black;">
                <div class="form-item" style="cursor: pointer;">
                    <div class="mb-3">
                        <img src="assets/images/3.png" alt="logo" style="width: 100%;">
                    </div>
                    <span class="form-title">ONE Group - หนังสือยินยอมขอรับเงินโอน [บุคคลธรรมดา]
                        <span class="material-symbols-outlined"> download </span>
                    </span>
                </div>
            </a>
            <a href="{{oneLegal}}" target="_blank" style="color: black;">
                <div class="form-item" style="cursor: pointer;">
                    <div class="mb-3">
                        <img src="assets/images/2.png" alt="logo" style="width: 100%;">
                    </div>
                    <span class="form-title">ONE Group - หนังสือยินยอมขอรับเงินโอน [นิติบุคคล]
                        <span class="material-symbols-outlined"> download </span>
                    </span>
                </div>
            </a>
        </div>

        <div class="form-row">
            <a href="{{gchIndividual}}" target="_blank" style="color: black;">
                <div class="form-item" style="cursor: pointer;">
                    <div class="mb-3">
                        <img src="assets/images/1.png" alt="logo" style="width: 100%;">
                    </div>
                    <span class="form-title">GCH Group - หนังสือยินยอมขอรับเงินโอน [บุคคลธรรมดา]
                        <span class="material-symbols-outlined"> download </span>
                    </span>
                </div>
            </a>
            <a href="{{gchLegal}}" target="_blank" style="color: black;">
                <div class="form-item" style="cursor: pointer;">
                    <div class="mb-3">
                        <img src="assets/images/4.png" alt="logo" style="width: 100%;">
                    </div>
                    <span class="form-title">GCH Group - หนังสือยินยอมขอรับเงินโอน [นิติบุคคล]
                        <span class="material-symbols-outlined"> download </span>
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>