<div class="content-card-search">
    <h2>Download Form</h2>
    <div class="form-list">
        <div class="form-row">
            <a href="https://drive.google.com/file/d/1yBMuWiH81jU9Y19W-jsjRqDjQ1Hj6x1t/view" target="_blank" style="color: black;">
                <div class="form-item" style="cursor: pointer;">
                    <div class="mb-3">
                        <img src="assets/images/6.png" alt="logo" style="width: 100%;">
                    </div>
                    <span class="form-title">ใบขอเปิด Customer
                        [บุคคลธรรมดา/นิติบุคคล]
                        <span class="material-symbols-outlined"> download </span>
                    </span>
                </div>
            </a>
            <a href="https://drive.google.com/file/d/17iyn3JKmXiW2p0yDtGugO5maby6Kxh7O/view" target="_blank" style="color: black;">
                <div class="form-item" style="cursor: pointer;">
                    <div class="mb-3">
                        <img src="assets/images/7.png" alt="logo" style="width: 100%;">
                    </div>
                    <span class="form-title">ใบขอเปิด Supplier [บุคคลธรรมดา/นิติบุคคล]
                        <span class="material-symbols-outlined"> download </span>
                    </span>
                </div>
            </a>
        </div>
        <div class="form-row">
            <a href="https://drive.google.com/file/d/1s4AljvQNWwfrRNBk6sCHPb4CMEqeWZIp/view" target="_blank" style="color: black;">
                <div class="form-item" style="cursor: pointer;">
                    <div class="mb-3">
                        <img src="assets/images/3.png" alt="logo" style="width: 100%;">
                    </div>
                    <span class="form-title">ONE Group - หนังสือยินยอมขอรับเงินโอน [บุคคลธรรมดา]
                        <span class="material-symbols-outlined"> download </span>
                    </span>
                </div>
            </a>
            <a href="https://drive.google.com/file/d/12W7p70OX_hsYN9yLbfiBUEV75Jeba_uH/view" target="_blank" style="color: black;">
                <div class="form-item" style="cursor: pointer;">
                    <div class="mb-3">
                        <img src="assets/images/2.png" alt="logo" style="width: 100%;">
                    </div>
                    <span class="form-title">ONE Group - หนังสือยินยอมขอรับเงินโอน [นิติบุคคล]
                        <span class="material-symbols-outlined"> download </span>
                    </span>
                </div>
            </a>
        </div>

        <div class="form-row">
            <a href="https://drive.google.com/file/d/1ipiEd8RVPpSazOS5dzebT8uloUz3hlE8/view" target="_blank" style="color: black;">
                <div class="form-item" style="cursor: pointer;">
                    <div class="mb-3">
                        <img src="assets/images/1.png" alt="logo" style="width: 100%;">
                    </div>
                    <span class="form-title">GCH Group - หนังสือยินยอมขอรับเงินโอน [บุคคลธรรมดา]
                        <span class="material-symbols-outlined"> download </span>
                    </span>
                </div>
            </a>
            <a href="https://drive.google.com/file/d/1MwbxPYt6r-GlupXkSvpV7Oaorn7X1fTz/view" target="_blank" style="color: black;">
                <div class="form-item" style="cursor: pointer;">
                    <div class="mb-3">
                        <img src="assets/images/4.png" alt="logo" style="width: 100%;">
                    </div>
                    <span class="form-title">GCH Group - หนังสือยินยอมขอรับเงินโอน [นิติบุคคล]
                        <span class="material-symbols-outlined"> download </span>
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>