<div class="content-card-search">
  <h2>User</h2>
  <div nz-row [formGroup]="filterForm">
    <div nz-col [nzXs]="24" [nzMd]="24" [nzLg]="5" class="pr-3">
      <nz-form-label nzNoColon>ชื่อ</nz-form-label>
      <nz-input-group nzPrefixIcon="search" class="form-input">
        <input nz-input placeholder="ชื่อ" formControlName="name" [(ngModel)]="filters.name "(input)="applyFilters()"/>
      </nz-input-group>
    </div>
    <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="5" class="pr-3">
      <nz-form-label nzNoColon>username</nz-form-label>
      <nz-input-group nzPrefixIcon="search" class="form-input">
        <input nz-input placeholder="username" formControlName="username" [(ngModel)]="filters.username "/>
      </nz-input-group>
    </div>
  </div>
  <div class="mt-5 display-flex justify-center">
    <button nz-button nzType="primary" class="mr-2" (click)="applyFilters()"><span nz-icon nzType="search" nzTheme="outline"></span>ค้นหา</button>
    <button nz-button nzType="default"  class="add-user-button" (click)="showAddRoleModal()"><span nz-icon nzType="user-add" nzTheme="outline"></span>เพิ่มข้อมูล</button>
  </div>
</div>
<div class="content-data-table mt-3">
  <nz-table #basicTable nzBordered [nzData]="filteredData">
    <thead>
      <tr>
        <th>ลำดับที่</th>
        <th>ชื่อ</th>
        <th>username</th>
        <th>role</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filteredData; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ data.firstname }}</td>
        <td>{{ data.username }}</td>
        <td>{{ data.role }}</td>
        <td class="text-center">
          <button nz-button nzType="primary" class="mr-1 button-yellow" nzShape="round" ><span nz-icon nzType="edit" nzTheme="outline"></span>Edit</button>
          <button nz-button nzType="default" class="mr-1" nzShape="round">Delete</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
