.button-yellow{
    background-color: #ffc107;
    color: white;
    border-color: #ffc107;
    color: black;
  
    &:hover {
      background-color: darkgoldenrod;
      border-color: darkgoldenrod;
    }
  }

  .add-user-button {
    background-color: #4CAF50; /* สีพื้นหลังเขียว */
    color: white; /* สีตัวอักษรขาว */
    border: none; /* ไม่มีขอบ */
    text-align: center; /* จัดตัวอักษรให้อยู่กลาง */
    text-decoration: none; /* ไม่มีเส้นใต้ */
    display: inline-block; /* จัดการการแสดงผล */
    cursor: pointer; /* เปลี่ยนรูปเม้าส์เมื่อชี้ */
    transition-duration: 0.4s; /* ระยะเวลาในการเปลี่ยนแปลง */
  }
  
  .add-user-button:hover {
    background-color: white; /* สีพื้นหลังเมื่อชี้ */
    color: black; /* สีตัวอักษรเมื่อชี้ */
    border: 2px solid #4CAF50; /* ขอบเมื่อชี้ */
  }

  .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .splash-screen img {
    width: 120px;
    margin-bottom: 20px;
  }
  
  .spinner {
    display: flex;
    justify-content: space-between;
    width: 70px;
  }
  
  .spinner div {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-out both;
  }
  
  .bounce1 {
    animation-delay: -0.32s;
  }
  .bounce2 {
    animation-delay: -0.16s;
  }
  .bounce3 {
    animation-delay: 0s;
  }
  
  @keyframes bounce {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
  }
  