<div class="login-container">
  <div class="login-background">
    <!-- Add your background image or design here -->
  </div>
  <div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="logo">
      </div>
      <h1>Financial Portal</h1>
      <!-- <p>ระบบจัดการข้อมูล Customer & Supplier</p> -->
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="user" class="input-group-field">
            <input formControlName="username" nz-input placeholder="Enter your Username" />
          </nz-input-group>
          <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].dirty">
            <span *ngIf="loginForm.controls['username'].errors!['required']">Username is required.</span>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="lock" class="input-group-field">
            <input formControlName="password" 
                   nz-input 
                   [type]="isPasswordVisible ? 'text' : 'password'" 
                   placeholder="Enter password" />
            <span nz-icon 
                  [nzType]="isPasswordVisible ? 'eye-invisible' : 'eye'" 
                  nzTheme="outline" 
                  class="password-toggle-icon" 
                  (click)="isPasswordVisible = !isPasswordVisible">
            </span>
          </nz-input-group>
          <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].dirty">
            <span *ngIf="loginForm.controls['password'].errors!['required']">Password is required.</span>
          </div>
        </nz-form-control>
      </nz-form-item>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <nz-form-item>
        <button [disabled]="loginForm.invalid" nz-button nzType="primary" class="login-form-button">Log In</button>
      </nz-form-item>

    </form>
  </div>

</div>