<form [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
  <div class="content-card">
    <nz-divider nzText="Supplier Info"></nz-divider>
    <div nz-row nzGutter="16" class="mt-2">
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 ">
        <nz-form-label nzNoColon>Supplier/One Time<span style="color: red;">*</span></nz-form-label>
        <nz-select formControlName="type" nzPlaceHolder="Select type" class="custom-select"
          (ngModelChange)="onSupplierTypeOneChange($event)">
          <nz-option *ngFor="let type of listOfTypeVendor" [nzLabel]="type.title" [nzValue]="type.title"></nz-option>
        </nz-select>
      </div>
      <div *ngIf="!isOneTime" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Supplier Type<span style="color: red;">*</span>
          <span nz-tooltip nzTooltipTitle="Supplier Type = ประเภทของ Customer ที่ต้องการสร้าง 
          สามารถเลือก Dropdown ลงมาดูข้อมูลได้" class="material-symbols-outlined ml-1" style="font-size: 18px;">
            info
          </span>
        </nz-form-label>
        <nz-select formControlName="supplierType" nzPlaceHolder="Select supplier_type" class="custom-select"
          (ngModelChange)="onSupplierTypeChange($event)">
          <nz-option *ngFor="let type of filteredDataType" [nzLabel]="'('+type.codeFrom+')'+' '+' '+type.meaning"
            [nzValue]="type.code"></nz-option>
        </nz-select>
      </div>
      <div *ngIf="!isOverseaSupplier() && !isOneTime" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Supplier Number<span style="color: red;">*</span>
          <span nz-tooltip nzTooltipTitle="Supplier Number = ระบบจะ running number 
          ให้ตามประเภทของ Supplier" class="material-symbols-outlined ml-1" style="font-size: 18px;">
            info
          </span>
        </nz-form-label>
        <nz-input-group nzPrefixIcon="number" class="form-input">
          <input nz-input placeholder="Supplier Number" formControlName="supplierNum" readonly />
        </nz-input-group>
      </div>
      <div *ngIf="!isOneTime" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 ">
        <nz-form-label nzNoColon>Site<span style="color: red;">*</span>
          <span nz-tooltip nzTooltipTitle="Site = สำนักงานใหญ่ คือ 00000 , สาขาย่อยจะ running ตามสาขา 
          เช่น สาขาที่ 1 คือ 00001, สาขาที่ 10 คือ 00010" class="material-symbols-outlined ml-1"
            style="font-size: 18px;">
            info
          </span>
        </nz-form-label>
        <nz-input-group nzPrefixIcon="global" class="form-input">
          <input nz-input placeholder="Site" maxlength="5" formControlName="site" (input)="validateSite($event)" />
        </nz-input-group>
      </div>
      <div *ngIf="isOverseaSupplier() || isOneTime" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
      </div>
      <div *ngIf="isOneTime" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3"></div>
      <div *ngIf="isOneTime" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3"></div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 mt-3">
        <nz-form-label nzNoColon>Tax ID<span style="color: red;">*</span>
          <span nz-tooltip nzTooltipTitle="TAX ID : กรุณากรอกตัวเลข 13 หลัก ติดกัน โดยไม่ต้องมี -
          หากเป็นลูกค้าที่ไม่มี TAX ID ให้กรอก “-”" class="material-symbols-outlined ml-1" style="font-size: 18px;">
            info
          </span>
        </nz-form-label>
        <!-- <nz-input-group nzPrefixIcon="idcard" class="form-input">
          <input nz-input type="text" placeholder="Tax ID" formControlName="tax_Id" (input)="validateTaxId($event)"
            (blur)="getTaxIdData()" />
        </nz-input-group> -->
        <nz-input-group nzPrefixIcon="idcard" class="form-input">
          <input nz-input type="text" placeholder="Tax ID" formControlName="tax_Id" (input)="validateTaxId($event)"
           />
        </nz-input-group>
      </div>
      <!-- <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 mt-3">
        <nz-form-label nzNoColon>Name<span style="color: red;">*</span>
          <span nz-tooltip 
          nzTooltipTitle="Name : ชื่อ Supplier กรุณา กรอกข้อมูลตาม Format
          กรณีบุคคลธรรมดา : คุณ ชื่อ นามสกุล [ช่องว่าง คือ เว้นวรรค]
          กรณีนิติบุคคล : บริษัท ......... จำกัด"
          class="material-symbols-outlined ml-1" style="font-size: 18px;" >
            info
          </span>
        </nz-form-label>
        <nz-input-group nzPrefixIcon="user" class="form-input">
          <input nz-input placeholder="คุณ ชื่อ นามสกุล" formControlName="name" />
        </nz-input-group>
      </div> -->
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 mt-3">
        <nz-form-label nzNoColon>
          Name<span style="color: red;">*</span>
          <span nz-tooltip nzTooltipTitle="Name : ชื่อ Supplier กรุณา กรอกข้อมูลตาม Format"
            class="material-symbols-outlined ml-1" style="font-size: 18px;">
            info
          </span>
        </nz-form-label>

        <div class="input-with-prefix">
          <nz-select formControlName="prefix" nzPlaceHolder="Prefix" class="customize-input prefix-dropdown">
            <nz-option *ngFor="let type of item_prefix" [nzLabel]="type.name" [nzValue]="type.name"></nz-option>
          </nz-select>

          <nz-input-group nzPrefixIcon="user" class="form-input">
            <input nz-input placeholder="ชื่อ นามสกุล" formControlName="name" (blur)="onNameBlur()"/>
          </nz-input-group>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="3" class="pr-3 mt-3">
        <nz-form-label nzNoColon>Telephone<span style="color: red;">*</span>
          <span nz-tooltip nzTooltipTitle="Tel : กรอกข้อมูลเบอร์โทรศัพท์ โดยพิมตัวเลขติดกัน 
          เช่น 063-259-1642 กรุณากรอก 0692591642
          หาก ไม่มีข้อมูลเบอร์โทรศัพท์ กรุณากรอก “-”" class="material-symbols-outlined ml-1" style="font-size: 18px;">
            info
          </span>
        </nz-form-label>
        <nz-input-group nzPrefixIcon="phone" class="form-input">
          <input nz-input type="text" placeholder="Telephone" maxlength="10" (input)="validateTel($event)"
            formControlName="tel" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="3" class="pr-3 mt-3">
        <nz-form-label nzNoColon>Mobilephone<span style="color: red;">*</span>
          <span nz-tooltip nzTooltipTitle="mobile : กรอกข้อมูลเบอร์โทรศัพท์ โดยพิมตัวเลขติดกัน 
          เช่น 063-259-1642 กรุณากรอก 0692591642
          หาก ไม่มีข้อมูลเบอร์โทรศัพท์ กรุณากรอก “-”" class="material-symbols-outlined ml-1" style="font-size: 18px;">
            info
          </span>
        </nz-form-label>
        <nz-input-group nzPrefixIcon="phone" class="form-input">
          <input nz-input type="text" placeholder="Telephone" maxlength="10" (input)="validateMobile($event)"
            formControlName="mobile" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 mt-3">
        <nz-form-label nzNoColon>Email<span style="color: red;">*</span>
          <span nz-tooltip nzTooltipTitle="Email : ของ Supplier ถ้าไม่มีให้ระบุเป็น “-”"
            class="material-symbols-outlined ml-1" style="font-size: 18px;">
            info
          </span>
        </nz-form-label>
        <nz-input-group nzPrefixIcon="mail" class="form-input">
          <input nz-input placeholder="Email" formControlName="email" (ngModelChange)="validateEmail()" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="24" class="pr-3 mt-3">
        <nz-form-label nzNoColon>Address<span style="color: red;">*</span>
          <span nz-tooltip
            nzTooltipTitle="ADDRESS : ข้อมูลที่อยู่ตามบัตรประชาชน เพื่อสำหรับออกเอกสารต่างๆ โดยใส่ข้อมูลตั้งแต่ บ้านเลขที่,อาคาร(ถ้ามี),ชั้น(ถ้ามี), เลขที่ห้อง(ถ้ามี),หมู่(ถ้ามี),หมู่บ้าน(ถ้ามี),ถนน(ถ้ามี),ซอย(ถ้ามี),ตรอก(ถ้ามี) และอื่นๆ"
            class="material-symbols-outlined ml-1" style="font-size: 18px;">
            info
          </span>
        </nz-form-label>
        <nz-input-group nzPrefixIcon="home" class="form-input">
          <input nz-input placeholder="Address" formControlName="address_sup" />
        </nz-input-group>
      </div>
      <div *ngIf="!isOverseaSupplier()" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 mt-3">
        <nz-form-label nzNoColon>Postal Code<span style="color: red;">*</span>
          <span nz-tooltip nzTooltipTitle="Portal Code : เสริช รหัสไปรษณีย์ ระบบจะขึ้น Dropdown 
          มาให้เลือก ตำบล,อำเภอ,จังหวัด" class="material-symbols-outlined ml-1" style="font-size: 18px;">
            info
          </span>
        </nz-form-label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please select postal code!">
            <nz-select nzShowSearch nzServerSearch nzPlaceHolder="Postal Code" (nzOnSearch)="onSearch($event)"
              formControlName="postalCode" (ngModelChange)="onPostalCodeChange($event)">
              <nz-option *ngFor="let item of filteredItemsProvince"
                [nzLabel]="item.postalCode + ' '+ item.subdistrict + ' ' + item.district + ' ' + item.province"
                [nzValue]="item.postalCode + '-' + item.subdistrict">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div *ngIf="!isOverseaSupplier()" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 mt-3">
        <nz-form-label nzNoColon>Province<span style="color: red;">*</span>
        </nz-form-label>
        <nz-input-group nzPrefixIcon="global" class="form-input">
          <input nz-input placeholder="Province" formControlName="province" />
        </nz-input-group>
      </div>
      <div *ngIf="!isOverseaSupplier()" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 mt-3">
        <nz-form-label nzNoColon>District<span style="color: red;">*</span></nz-form-label>
        <nz-input-group nzPrefixIcon="cluster" class="form-input">
          <input nz-input placeholder="District" formControlName="district" />
        </nz-input-group>
      </div>
      <div *ngIf="!isOverseaSupplier()" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 mt-3">
        <nz-form-label nzNoColon>Subdistrict<span style="color: red;">*</span></nz-form-label>
        <nz-input-group nzPrefixIcon="environment" class="form-input">
          <input nz-input placeholder="Subdistrict" formControlName="subdistrict" />
        </nz-input-group>
      </div>


      <!-- <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 ">
        <nz-form-label nzNoColon>Customer Type</nz-form-label>
        <nz-input-group nzPrefixIcon="team" class="form-input">
          <input nz-input placeholder="Customer Type" formControlName="supplier_type" />
        </nz-input-group>
      </div> -->

      <div *ngIf="!isOverseaSupplier()" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Payment Method<span style="color: red;">*</span>
          <span nz-tooltip nzTooltipTitle="Payment Method : ช่องทางในการรับเงินของ Supplier 
          สามารถเลือก Dropdown ดูข้อมูลได้" class="material-symbols-outlined ml-1" style="font-size: 18px;">
            info
          </span>
        </nz-form-label>
        <nz-select formControlName="paymentMethod" nzPlaceHolder="Select Payment Method" class="custom-select">
          <nz-option *ngFor="let type of filteredDataPaymentMethod" [nzLabel]="type.paymentMethodName"
            [nzValue]="type.paymentMethodName"></nz-option>
        </nz-select>
      </div>
      <div *ngIf="!isOverseaSupplier()  && !isUser" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Vat</nz-form-label>
        <nz-select formControlName="vat" nzPlaceHolder="Select Vat" class="custom-select">
          <nz-option *ngFor="let type of listOfVat" [nzLabel]="type.inputTaxCode"
            [nzValue]="type.inputTaxCode"></nz-option>
        </nz-select>
      </div>
      <div *ngIf="!isOverseaSupplier()" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Company<span style="color: red;">*</span>
          <span nz-tooltip nzTooltipTitle="Company ; ท่าน Request ผ่านบ้านอะไร" class="material-symbols-outlined ml-1"
            style="font-size: 18px;">
            info
          </span>
        </nz-form-label>
        <nz-select formControlName="company" nzPlaceHolder="Select Company" class="custom-select">
          <nz-option *ngFor="let type of filteredDataompany" [nzLabel]="type.abbreviation+' : '+type.fullName"
            [nzValue]="type.abbreviation"></nz-option>
        </nz-select>
      </div>
    </div>
    <div class="mt-5 display-flex justify-center " *ngIf="!showSupplierBankForm">
      <button nz-button nzType="default" class="mr-2" (click)="backClicked($event)"><span nz-icon nzType="rollback"
          nzTheme="outline"></span>ย้อนกลับ</button>
      <button *ngIf="isViewMode && ((isUser && supplierForm.get('status')?.value === 'Draft') || isAdmin)" nz-button
        nzType="primary" nzDanger class="mr-2" (click)="cancel($event)"><span nz-icon nzType="close"
          nzTheme="outline"></span>Cancel</button>
      <button nz-tooltip nzTooltipTitle="บันทึก ยังสามารถแก้ไขข้อมูลได้"
        *ngIf="!isViewMode && (isUser && !['Pending Approved By ACC', 'Cancel', 'Approved By ACC'].includes(supplierForm.get('status')?.value)) || isAdmin || isApproved"
        class="mr-2 button-yellow" nz-button nzType="primary" (click)="checkSave($event)">
        <span nz-icon nzType="save" nzTheme="outline"></span>Save Draft
      </button>
      <button *ngIf="isViewMode && ((isUser && supplierForm.get('status')?.value === 'Draft') || isAdmin)"
        class="mr-2 green-button" nz-button nzType="primary" (click)="submit($event)">
        <span nz-icon nzType="send" nzTheme="outline"></span>Submit
      </button>
      <!-- Approve Button -->
      <button
        *ngIf="isViewMode && 
  (
    (isApproved && supplierForm.get('status')?.value === 'Pending Approved By ACC') ||
    (isApprovedFN && supplierForm.get('status')?.value === 'Approved By ACC') ||
    isAdmin
  ) && !['Approved By FN', 'Reject By FN', 'Reject By ACC', 'Cancel', 'Draft'].includes(supplierForm.get('status')?.value)
  &&(supplierForm.get('payment_method')?.value === 'Transfer' || supplierForm.get('payment_method')?.value === 'Transfer_Employee')"
        class="mr-2" nz-button nzType="primary" (click)="approve($event)">
        <span nz-icon nzType="save" nzTheme="outline"></span>Approve
      </button>

      <!-- Reject Button -->
      <button
        *ngIf="isViewMode && 
      (
        (isApproved && supplierForm.get('status')?.value === 'Pending Approved By ACC') ||
        (isApprovedFN && supplierForm.get('status')?.value === 'Approved By ACC') ||
        isAdmin
      ) && 
      !['Approved By FN', 'Reject By FN', 'Reject By ACC', 'Cancel', 'Draft'].includes(supplierForm.get('status')?.value) 
      &&(supplierForm.get('payment_method')?.value === 'Transfer' || supplierForm.get('payment_method')?.value === 'Transfer_Employee')"
        nz-button nzType="primary" nzDanger (click)="reject($event)">
        <span nz-icon nzType="close" nzTheme="outline"></span>Reject
      </button>
    </div>
  </div>
</form>

<form [formGroup]="supplierBankForm" *ngIf="showSupplierBankForm">
  <div class="content-card mt-3">
    <ng-container *ngIf="!isViewMode">
      <button *ngIf="!showSupplierBankFormAdd" class="mr-2" nz-button nzType="primary" (click)="showBankCopy()">
        <span nz-icon nzType="plus" nzTheme="outline"></span>เพิ่ม Bank
      </button>
      <button *ngIf="showSupplierBankFormAdd" class="mr-2" nz-button type="primary" danger (click)="hideBankCopy()">
        <span nz-icon nzType="close" nzTheme="outline"></span>ลบ bank
      </button>
    </ng-container>
    <nz-divider nzText="Supplier Bank"></nz-divider>
    <div nz-row nzGutter="16">
      <div nz-row nzGutter="16">
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
          <nz-form-label nzNoColon>Supplier Group<span style="color: red;">*</span></nz-form-label>
          <nz-select [(ngModel)]="selectedSupplierGroup" formControlName="supplierGroup"
            nzPlaceHolder="Select Supplier Group" class="custom-select">
            <nz-option *ngFor="let type of listOfGroup" [nzLabel]="type.group_name"
              [nzValue]="type.group_name"></nz-option>
          </nz-select>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="bankName" nzNoColon style="padding: 0px;">Bank Name<span
                style="color: red;">*</span></nz-form-label>
            <nz-select formControlName="nameBank" nzPlaceHolder="Select bankName" class="custom-select">
              <nz-option *ngFor="let type of listOfBank" [nzLabel]="type.shortBankName+' : '+type.alternateBankName"
                [nzValue]="type.shortBankName"></nz-option>
            </nz-select>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="branch" nzNoColon style="padding: 0px;">Branch<span
                style="color: red;">*</span></nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input id="branch" placeholder="Branch" formControlName="branch" class="form-input"
                (input)="validateBranch($event)" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="accountNumber" nzNoColon style="padding: 0px;">Account
              Number<span style="color: red;">*</span></nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input id="accountNumber" placeholder="Account Number" formControlName="accountNum"
                class="form-input" (input)="validateAccountNum($event)" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="accountName" nzNoColon style="padding: 0px;">Account
              Name<span style="color: red;">*</span></nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input id="accountName" placeholder="Account Name" formControlName="accountName"
                class="form-input" readonly />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <form [formGroup]="supplierBankFormAdd" *ngIf="showSupplierBankFormAdd">
      <div class="content-card" style="padding: 0px;">
        <nz-divider nzText="Supplier Bank"></nz-divider>
        <div nz-row nzGutter="16">
          <div nz-row nzGutter="16">
            <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
              <nz-form-label nzNoColon>Supplier Group<span style="color: red;">*</span></nz-form-label>
              <nz-select [(ngModel)]="selectedSupplierGroupAdd" formControlName="supplierGroup"
                nzPlaceHolder="Select Supplier Group" class="custom-select">
                <nz-option *ngFor="let type of listOfGroup" [nzLabel]="type.group_name"
                  [nzValue]="type.group_name"></nz-option>
              </nz-select>
            </div>
            <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="bankName" nzNoColon style="padding: 0px;">Bank Name<span
                    style="color: red;">*</span></nz-form-label>
                <nz-select formControlName="nameBank  " nzPlaceHolder="Select bankName" class="custom-select">
                  <nz-option *ngFor="let type of listOfBank"
                    [nzLabel]="type.shortBankName+' : '+type.alternateBankName"
                    [nzValue]="type.shortBankName"></nz-option>
                </nz-select>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="branch" nzNoColon style="padding: 0px;">Branch<span
                    style="color: red;">*</span></nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input id="branch" placeholder="Branch" formControlName="branch" class="form-input"
                    (input)="validateBranchAdd($event)" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="accountNumber" nzNoColon style="padding: 0px;">Account
                  Number<span style="color: red;">*</span></nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input id="accountNumber" placeholder="Account Number" formControlName="accountNum"
                    class="form-input" (input)="validateAccountNumAdd($event)" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="accountName" nzNoColon style="padding: 0px;">Account
                  Name<span style="color: red;">*</span></nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input id="accountName" placeholder="Account Name" formControlName="accountName"
                    class="form-input" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="mt-5 display-flex justify-center ">
      <button nz-button nzType="default" class="mr-2" (click)="backClicked($event)"><span nz-icon nzType="rollback"
          nzTheme="outline"></span>ย้อนกลับ</button>
      <button *ngIf="isViewMode && ((isUser && supplierForm.get('status')?.value === 'Draft') || isAdmin)" nz-button
        nzType="primary" nzDanger class="mr-2" (click)="cancel($event)"><span nz-icon nzType="close"
          nzTheme="outline"></span>Cancel</button>
      <button nz-tooltip nzTooltipTitle="บันทึก ยังสามารถแก้ไขข้อมูลได้"
        *ngIf="!isViewMode && (isUser && !['Pending Approved By ACC', 'Cancel', 'Approved By ACC'].includes(supplierForm.get('status')?.value)) || isAdmin || isApproved"
        class="mr-2 button-yellow" nz-button nzType="primary" (click)="checkSave($event)">
        <span nz-icon nzType="save" nzTheme="outline"></span>Save Draft
      </button>
      <button *ngIf="isViewMode && (isUser && (supplierForm.get('status')?.value === 'Draft') || isAdmin)"
        class="mr-2 green-button" nz-button nzType="primary" (click)="submit($event)">
        <span nz-icon nzType="send" nzTheme="outline"></span>Submit
      </button>
      <!-- Approve Button -->
      <button
        *ngIf="isViewMode && 
  (
    (isApproved && supplierForm.get('status')?.value === 'Pending Approved By ACC') ||
    (isApprovedFN && supplierForm.get('status')?.value === 'Approved By ACC') ||
    isAdmin
  ) && !['Approved By FN', 'Reject By FN', 'Reject By ACC', 'Cancel', 'Draft'].includes(supplierForm.get('status')?.value)
  &&(supplierForm.get('payment_method')?.value === 'Transfer' || supplierForm.get('payment_method')?.value === 'Transfer_Employee')"
        class="mr-2" nz-button nzType="primary" (click)="approve($event)">
        <span nz-icon nzType="save" nzTheme="outline"></span>Approve
      </button>

      <!-- Reject Button -->
      <button
        *ngIf="isViewMode && 
  (
    (isApproved && supplierForm.get('status')?.value === 'Pending Approved By ACC') ||
    (isApprovedFN && supplierForm.get('status')?.value === 'Approved By ACC') ||
    isAdmin
  ) && !['Approved By FN', 'Reject By FN', 'Reject By ACC', 'Cancel', 'Draft'].includes(supplierForm.get('status')?.value)
  &&(supplierForm.get('payment_method')?.value === 'Transfer' || supplierForm.get('payment_method')?.value === 'Transfer_Employee')"
        nz-button nzType="primary" nzDanger (click)="reject($event)">
        <span nz-icon nzType="close" nzTheme="outline"></span>Reject
      </button>

    </div>
  </div>
</form>

<div *ngIf="isViewMode" class="content-card mt-3">
  <nz-divider nzText="History Info"></nz-divider>
  <nz-table #basicTable nzBordered [nzData]="logs">
    <thead>
      <tr>
        <th>Approve By</th>
        <th>Status</th>
        <th>Reject_Reason</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs">
        <td>{{ log.username }}</td>
        <td>{{ log.status }}</td>
        <td>{{ log.reject_reason }}</td>
        <td>{{ log.time | date:'short' }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>

<!-- <div *ngIf="isViewMode" class="content-card mt-3">
  <nz-divider nzText="History Info"></nz-divider>
  <div *ngFor="let log of logs">
    <p>Approve By: {{ log.username }}</p>
    <p>Status: {{ log.status }}</p>
    <p>Time: {{ log.time | date:'short' }}</p>
    <br>
  </div>
</div> -->