<form [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
  <div class="content-card">
    <nz-divider nzText="Supplier Info"></nz-divider>
    <div nz-row nzGutter="16" class="mt-2">
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Tax ID</nz-form-label>
        <nz-input-group nzPrefixIcon="idcard" class="form-input">
          <input nz-input placeholder="Tax ID" maxlength="13" formControlName="tax_Id" (blur)="getTaxIdData()" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Name</nz-form-label>
        <nz-input-group nzPrefixIcon="user" class="form-input">
          <input nz-input placeholder="Name" formControlName="name" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Telephone</nz-form-label>
        <nz-input-group nzPrefixIcon="phone" class="form-input">
          <input nz-input placeholder="Telephone" maxlength="10" formControlName="tel" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Email</nz-form-label>
        <nz-input-group nzPrefixIcon="mail" class="form-input">
          <input nz-input placeholder="Email" formControlName="email" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="24" class="pr-3 mt-3">
        <nz-form-label nzNoColon>Address</nz-form-label>
        <nz-input-group nzPrefixIcon="home" class="form-input">
          <input nz-input placeholder="Address" formControlName="address_sup" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 mt-3">
        <nz-form-label nzNoColon>Postal Code<span style="color: red;">*</span></nz-form-label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please select postal code!">
            <nz-select nzShowSearch nzServerSearch nzPlaceHolder="Postal Code" (nzOnSearch)="onSearch($event)"
              formControlName="postalCode" (ngModelChange)="onPostalCodeChange($event)">
              <nz-option *ngFor="let item of filteredItemsProvince"
                [nzLabel]="item.subdistrict + ' ' + item.district + ' ' + item.province + ' ' + item.postalCode"
                [nzValue]="item.postalCode + '-' + item.subdistrict">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 mt-3">
        <nz-form-label nzNoColon>Subdistrict</nz-form-label>
        <nz-input-group nzPrefixIcon="environment" class="form-input">
          <input nz-input placeholder="Subdistrict" formControlName="subdistrict" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 mt-3">
        <nz-form-label nzNoColon>District</nz-form-label>
        <nz-input-group nzPrefixIcon="cluster" class="form-input">
          <input nz-input placeholder="District" formControlName="district" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 mt-3">
        <nz-form-label nzNoColon>Province</nz-form-label>
        <nz-input-group nzPrefixIcon="global" class="form-input">
          <input nz-input placeholder="Province" formControlName="province" />
        </nz-input-group>
      </div>
      <!-- <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 ">
        <nz-form-label nzNoColon>Customer Type</nz-form-label>
        <nz-input-group nzPrefixIcon="team" class="form-input">
          <input nz-input placeholder="Customer Type" formControlName="supplier_type" />
        </nz-input-group>
      </div> -->
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Supplier Type</nz-form-label>
        <nz-select formControlName="supplier_type" nzPlaceHolder="Select supplier_type" class="custom-select">
          <nz-option *ngFor="let type of listOfType" [nzLabel]="'('+type.code_from+')'+' '+' '+type.meaning"
            [nzValue]="type.code"></nz-option>
        </nz-select>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Supplier Number</nz-form-label>
        <nz-input-group nzPrefixIcon="number" class="form-input">
          <input nz-input placeholder="Supplier Number" formControlName="supplier_num" readonly />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3 ">
        <nz-form-label nzNoColon>Site</nz-form-label>
        <nz-input-group nzPrefixIcon="global" class="form-input">
          <input nz-input placeholder="Site" maxlength="5" formControlName="site" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Payment Method</nz-form-label>
        <nz-select formControlName="payment_method" nzPlaceHolder="Select Payment Method" class="custom-select">
          <nz-option *ngFor="let type of listOfPaymentMethod" [nzLabel]="type.paymentMethodName"
            [nzValue]="type.paymentMethodName"></nz-option>
        </nz-select>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Vat</nz-form-label>
        <nz-select formControlName="vat" nzPlaceHolder="Select Vat" class="custom-select">
          <nz-option *ngFor="let type of listOfVat" [nzLabel]="type.inputTaxCode"
            [nzValue]="type.inputTaxCode"></nz-option>
        </nz-select>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Company</nz-form-label>
        <nz-select formControlName="company" nzPlaceHolder="Select Company" class="custom-select">
          <nz-option *ngFor="let type of filteredDataompany" [nzLabel]="type.abbreviation+' : '+type.full_name"
            [nzValue]="type.abbreviation"></nz-option>
        </nz-select>
      </div>
    </div>
    <div class="mt-5 display-flex justify-center " *ngIf="!showSupplierBankForm">
      <button nz-button nzType="default" class="mr-2" (click)="backClicked($event)"><span nz-icon nzType="rollback"
          nzTheme="outline"></span>ย้อนกลับ</button>
      <button *ngIf="isViewMode && ((isUser && supplierForm.get('status')?.value === 'Draft') || isAdmin)" nz-button
        nzType="primary" nzDanger class="mr-2" (click)="cancel($event)"><span nz-icon nzType="close"
          nzTheme="outline"></span>Cancel</button>
      <button
        *ngIf="!isViewMode && (isUser && !['Pending Approved By ACC', 'Cancel', 'Approved By ACC'].includes(supplierForm.get('status')?.value)) || isAdmin"
        class="mr-2 button-yellow" nz-button nzType="primary" (click)="save($event)">
        <span nz-icon nzType="save" nzTheme="outline"></span>บันทึก
      </button>
      <button *ngIf="isViewMode && ((isUser && supplierForm.get('status')?.value === 'Draft') || isAdmin)"
        class="mr-2 green-button" nz-button nzType="primary" (click)="submit($event)">
        <span nz-icon nzType="send" nzTheme="outline"></span>Submit
      </button>
      <!-- Approve Button -->
      <button
        *ngIf="isViewMode && 
  (
    (isApproved && supplierForm.get('status')?.value === 'Pending Approved By ACC') ||
    (isApprovedFN && supplierForm.get('status')?.value === 'Approved By ACC') ||
    isAdmin
  ) && !['Approved By FN', 'Reject By FN', 'Reject By ACC', 'Cancel', 'Draft'].includes(supplierForm.get('status')?.value)"
        class="mr-2" nz-button nzType="primary" (click)="approve($event)">
        <span nz-icon nzType="save" nzTheme="outline"></span>Approve
      </button>

      <!-- Reject Button -->
      <button
        *ngIf="isViewMode && 
  (
    (isApproved && supplierForm.get('status')?.value === 'Pending Approved By ACC') ||
    (isApprovedFN && supplierForm.get('status')?.value === 'Approved By ACC') ||
    isAdmin
  ) && !['Approved By FN', 'Reject By FN', 'Reject By ACC', 'Cancel', 'Draft'].includes(supplierForm.get('status')?.value)"
        nz-button nzType="primary" nzDanger (click)="reject($event)">
        <span nz-icon nzType="close" nzTheme="outline"></span>Reject
      </button>
    </div>
  </div>
</form>

<form [formGroup]="supplierBankForm" *ngIf="showSupplierBankForm">
  <div class="content-card mt-3">
    <ng-container *ngIf="!isViewMode">
      <button class="mr-2" nz-button nzType="primary" (click)="showBankCopy()">
        <span nz-icon nzType="plus" nzTheme="outline"></span>เพิ่ม Bank
      </button>
    </ng-container>
    <nz-divider nzText="Supplier Bank"></nz-divider>
    <div nz-row nzGutter="16">
      <div nz-row nzGutter="16">
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
          <nz-form-label nzNoColon>Supplier Group</nz-form-label>
          <nz-select [(ngModel)]="selectedSupplierGroup" formControlName="supplier_group" nzPlaceHolder="Select Supplier Group" class="custom-select">
            <nz-option *ngFor="let type of listOfGroup" [nzLabel]="type.group_name"
                [nzValue]="type.group_name"></nz-option>
            </nz-select>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="bankName" nzNoColon style="padding: 0px;">Bank Name</nz-form-label>
            <nz-select formControlName="name_bank" nzPlaceHolder="Select bankName" class="custom-select">
              <nz-option *ngFor="let type of listOfBank" [nzLabel]="type.short_bank_name+' : '+type.alternate_bank_name"
                [nzValue]="type.short_bank_name"></nz-option>
            </nz-select>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="branch" nzNoColon style="padding: 0px;">Branch</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input id="branch" placeholder="Branch" formControlName="branch" class="form-input" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="accountNumber" nzNoColon style="padding: 0px;">Account
              Number</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input id="accountNumber" placeholder="Account Number" formControlName="account_num"
                class="form-input" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="accountName" nzNoColon style="padding: 0px;">Account
              Name</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input id="accountName" placeholder="Account Name" formControlName="account_name"
                class="form-input" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <form [formGroup]="supplierBankFormAdd" *ngIf="showSupplierBankFormAdd">
      <div class="content-card" style="padding: 0px;">
        <nz-divider nzText="Supplier Bank"></nz-divider>
        <div nz-row nzGutter="16">
          <div nz-row nzGutter="16">
            <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
              <nz-form-label nzNoColon>Supplier Group</nz-form-label>
              <nz-select [(ngModel)]="selectedSupplierGroupAdd" formControlName="supplier_group" nzPlaceHolder="Select Supplier Group" class="custom-select">
                <nz-option *ngFor="let type of listOfGroup" [nzLabel]="type.group_name"
                    [nzValue]="type.group_name"></nz-option>
                </nz-select>
            </div>
            <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="bankName" nzNoColon style="padding: 0px;">Bank Name</nz-form-label>
                <nz-select formControlName="name_bank" nzPlaceHolder="Select bankName" class="custom-select">
                  <nz-option *ngFor="let type of listOfBank" [nzLabel]="type.short_bank_name+' : '+type.alternate_bank_name"
                    [nzValue]="type.short_bank_name"></nz-option>
                </nz-select>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="branch" nzNoColon style="padding: 0px;">Branch</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input id="branch" placeholder="Branch" formControlName="branch" class="form-input" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="accountNumber" nzNoColon style="padding: 0px;">Account
                  Number</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input id="accountNumber" placeholder="Account Number" formControlName="account_num"
                    class="form-input" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="accountName" nzNoColon style="padding: 0px;">Account
                  Name</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input id="accountName" placeholder="Account Name" formControlName="account_name"
                    class="form-input" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="mt-5 display-flex justify-center ">
      <button nz-button nzType="default" class="mr-2" (click)="backClicked($event)"><span nz-icon nzType="rollback"
          nzTheme="outline"></span>ย้อนกลับ</button>
      <button *ngIf="isViewMode && ((isUser && supplierForm.get('status')?.value === 'Draft') || isAdmin)" nz-button
        nzType="primary" nzDanger class="mr-2" (click)="cancel($event)"><span nz-icon nzType="close"
          nzTheme="outline"></span>Cancel</button>
      <button
        *ngIf="!isViewMode && (isUser && !['Pending Approved By ACC', 'Cancel', 'Approved By ACC'].includes(supplierForm.get('status')?.value)) || isAdmin"
        class="mr-2 button-yellow" nz-button nzType="primary" (click)="save($event)">
        <span nz-icon nzType="save" nzTheme="outline"></span>บันทึก
      </button>
      <button *ngIf="isViewMode && (isUser && (supplierForm.get('status')?.value === 'Draft') || isAdmin)"
        class="mr-2 green-button" nz-button nzType="primary" (click)="submit($event)">
        <span nz-icon nzType="send" nzTheme="outline"></span>Submit
      </button>
      <!-- Approve Button -->
      <button
        *ngIf="isViewMode && 
  (
    (isApproved && supplierForm.get('status')?.value === 'Pending Approved By ACC') ||
    (isApprovedFN && supplierForm.get('status')?.value === 'Approved By ACC') ||
    isAdmin
  ) && !['Approved By FN', 'Reject By FN', 'Reject By ACC', 'Cancel', 'Draft'].includes(supplierForm.get('status')?.value)"
        class="mr-2" nz-button nzType="primary" (click)="approve($event)">
        <span nz-icon nzType="save" nzTheme="outline"></span>Approve
      </button>

      <!-- Reject Button -->
      <button
        *ngIf="isViewMode && 
  (
    (isApproved && supplierForm.get('status')?.value === 'Pending Approved By ACC') ||
    (isApprovedFN && supplierForm.get('status')?.value === 'Approved By ACC') ||
    isAdmin
  ) && !['Approved By FN', 'Reject By FN', 'Reject By ACC', 'Cancel', 'Draft'].includes(supplierForm.get('status')?.value)"
        nz-button nzType="primary" nzDanger (click)="reject($event)">
        <span nz-icon nzType="close" nzTheme="outline"></span>Reject
      </button>

    </div>
  </div>
</form>

<div *ngIf="isViewMode" class="content-card mt-3">
  <nz-divider nzText="History Info"></nz-divider>
  <nz-table #basicTable nzBordered [nzData]="logs">
    <thead>
      <tr>
        <th>Approve By</th>
        <th>Status</th>
        <th>Reject_Reason</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs">
        <td>{{ log.username }}</td>
        <td>{{ log.status }}</td>
        <td>{{ log.reject_reason }}</td>
        <td>{{ log.time | date:'short' }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>

<!-- <div *ngIf="isViewMode" class="content-card mt-3">
  <nz-divider nzText="History Info"></nz-divider>
  <div *ngFor="let log of logs">
    <p>Approve By: {{ log.username }}</p>
    <p>Status: {{ log.status }}</p>
    <p>Time: {{ log.time | date:'short' }}</p>
    <br>
  </div>
</div> -->