<div class="content-card">
    <nz-divider nzText="Supplier Info"></nz-divider>
    <div nz-row nzGutter="16" class="mt-2">
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>First Name</nz-form-label>
        <nz-input-group nzPrefixIcon="user" class="form-input">
          <input nz-input placeholder="First Name" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Last Name</nz-form-label>
        <nz-input-group nzPrefixIcon="user" class="form-input">
          <input nz-input placeholder="Last Name" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Tax ID</nz-form-label>
        <nz-input-group nzPrefixIcon="idcard" class="form-input">
          <input nz-input placeholder="Tax ID" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Address</nz-form-label>
        <nz-input-group nzPrefixIcon="home" class="form-input">
          <input nz-input placeholder="Address" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>District</nz-form-label>
        <nz-input-group nzPrefixIcon="cluster" class="form-input">
          <input nz-input placeholder="District" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Subdistrict</nz-form-label>
        <nz-input-group nzPrefixIcon="environment" class="form-input">
          <input nz-input placeholder="Subdistrict" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Province</nz-form-label>
        <nz-input-group nzPrefixIcon="global" class="form-input">
          <input nz-input placeholder="Province" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Postal Code</nz-form-label>
        <nz-input-group nzPrefixIcon="mail" class="form-input">
          <input nz-input placeholder="Postal Code" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Telephone</nz-form-label>
        <nz-input-group nzPrefixIcon="phone" class="form-input">
          <input nz-input placeholder="Telephone" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Email</nz-form-label>
        <nz-input-group nzPrefixIcon="mail" class="form-input">
          <input nz-input placeholder="Email" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Customer Number</nz-form-label>
        <nz-input-group nzPrefixIcon="number" class="form-input">
          <input nz-input placeholder="Customer Number" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Customer Type</nz-form-label>
        <nz-input-group nzPrefixIcon="team" class="form-input">
          <input nz-input placeholder="Customer Type" />
        </nz-input-group>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
        <nz-form-label nzNoColon>Site</nz-form-label>
        <nz-input-group nzPrefixIcon="global" class="form-input">
          <input nz-input placeholder="Site" />
        </nz-input-group>
      </div>
    </div>
</div>
<div class="content-card mt-3">
    <nz-divider nzText="Supplier Bank"></nz-divider>
    <div nz-row nzGutter="16">
        <div nz-row nzGutter="16">
            <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="bankName" nzNoColon>Bank Name</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input id="bankName" placeholder="Bank Name" class="form-input" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="branch" nzNoColon>Branch</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input id="branch" placeholder="Branch" class="form-input" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="accountNumber" nzNoColon>Account Number</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input id="accountNumber" placeholder="Account Number" class="form-input" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="accountName" nzNoColon>Account Name</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input id="accountName" placeholder="Account Name" class="form-input" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6" class="pr-3">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="vat" nzNoColon>VAT</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input id="vat" placeholder="VAT" class="form-input" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
       </div>
       <div class="mt-5 display-flex justify-center ">
        <button nz-button nzType="default" class="mr-2" (click)="backClicked()">ย้อนกลับ</button>
        <button nz-button nzType="primary" (click)="backClicked()">บันทึก</button>

      </div>
  </div>
  