<div class="content-card-search">
  <h2>Export Excel</h2>
  <div class="form-list">
    <div class="form-row">
      <label for="exportDate">Select Start Date</label>
      <div class="date-picker-wrapper">
        <input
          type="text"
          id="exportDate"
          [value]="formattedDate"
          readonly
        />
        <span class="icon-inside-input material-symbols-outlined" (click)="focusDatePicker()">
          calendar_month
        </span>
        <input
          type="date"
          id="nativeDatePicker"
          [value]="exportDate"
          [max]="maxDate"
          (change)="onDateChange($event)"
        />
      </div>
    </div>
    <div class="form-row">
      <label for="exportDateEnd">Select End Date</label>
      <div class="date-picker-wrapper">
        <input
          type="text"
          id="exportDateEnd"
          [value]="formattedDateEnd"
          readonly
        />
        <span class="icon-inside-input material-symbols-outlined" (click)="focusDatePickerEnd()">
          calendar_month
        </span>
        <input
          type="date"
          id="nativeDatePickerEnd"
          [value]="exportDateEnd"
          [max]="maxDate"
          (change)="onDateChangeEnd($event)"
        />
      </div>
    </div>
    <div class="form-row">
      <button (click)="exportExcel()">Export</button>
    </div>
  </div>
</div>