<div class="details-container">
    <div class="details-row">
        <p class="details-label">Name:</p>
        <p class="details-value">{{ data?.name }}</p>
    </div>
    <div class="details-row">
        <p class="details-label">Tax ID:</p>
        <p class="details-value">{{ data?.taxId }}</p>
    </div>
    <div class="details-row">
        <p class="details-label">Address:</p>
        <p class="details-value">{{ data?.addressSup }}</p>
    </div>
    <div class="details-row">
        <p class="details-label">Subdistrict:</p>
        <p class="details-value">{{ data?.subdistrict }}</p>
    </div>
    <div class="details-row">
        <p class="details-label">District:</p>
        <p class="details-value">{{ data?.district }}</p>
    </div>
    <div class="details-row">
        <p class="details-label">Province:</p>
        <p class="details-value">{{ data?.province }}</p>
    </div>
    <div class="details-row">
        <p class="details-label">Postal Code:</p>
        <p class="details-value">{{ data?.postalCode }}</p>
    </div>
    <div class="details-row">
        <p class="details-label">Email:</p>
        <p class="details-value">{{ data?.email }}</p>
    </div>
    <div class="details-row">
        <p class="details-label">Phone:</p>
        <p class="details-value">{{ data?.tel }}</p>
    </div>
</div>