/* Red Colors */
.black-color {
  color: black;
}

.indian-red-color {
  color: #cd5c5c;
}

.light-coral-color {
  color: #f08080;
}

.salmon-color {
  color: #fa8072;
}

.dark-salmon-color {
  color: #e9967a;
}

.light-salmon-color {
  color: #ffa07a;
}

.crimson-color {
  color: #dc143c;
}

.red-color {
  color: #ff0000;
}

.fire-brick-color {
  color: #b22222;
}

.dark-red-color {
  color: #8b0000;
}

/* Pink Colors */
.pink-color {
  color: #ffc0cb;
}

.light-pink-color {
  color: #ffb6c1;
}

.hot-pink-color {
  color: #ff69b4;
}

.deep-pink-color {
  color: #ff1493;
}

.medium-violet-red-color {
  color: #c71585;
}

.pale-violet-red-color {
  color: #db7093;
}

/* Orange Colors */
.light-salmon-orange-color {
  color: #ffa07a;
}

.coral-color {
  color: #ff7f50;
}

.tomato-color {
  color: #ff6347;
}

.orange-red-color {
  color: #ff4500;
}

.dark-orange-color {
  color: #ff8c00;
}

.orange-color {
  color: #ffa500;
}

/* Yellow Colors */
.gold-color {
  color: #ffd700;
}

.yellow-color {
  color: #ffff00;
}

.light-yellow-color {
  color: #ffffe0;
}

.lemon-chiffon-color {
  color: #fffacd;
}

.light-goldenrod-yellow-color {
  color: #fafad2;
}

.papaya-whip-color {
  color: #ffefd5;
}

.moccasin-color {
  color: #ffe4b5;
}

.peach-puff-color {
  color: #ffdab9;
}

.pale-goldenrod-color {
  color: #eee8aa;
}

.khaki-color {
  color: #f0e68c;
}

.dark-khaki-color {
  color: #bdb76b;
}

/* Purple Colors */
.lavender-color {
  color: #e6e6fa;
}

.thistle-color {
  color: #d8bfd8;
}

.plum-color {
  color: #dda0dd;
}

.violet-color {
  color: #ee82ee;
}

.orchid-color {
  color: #da70d6;
}

.fuchsia-color {
  color: #ff00ff;
}

.magenta-color {
  color: #ff00ff;
}

.medium-orchid-color {
  color: #ba55d3;
}

.medium-purple-color {
  color: #9370db;
}

.rebecca-purple-color {
  color: #663399;
}

.blue-violet-color {
  color: #8a2be2;
}

.dark-violet-color {
  color: #9400d3;
}

.dark-orchid-color {
  color: #9932cc;
}

.dark-magenta-color {
  color: #8b008b;
}

.purple-color {
  color: #800080;
}

.indigo-color {
  color: #4b0082;
}

.slate-blue-color {
  color: #6a5acd;
}

.dark-slate-blue-color {
  color: #483d8b;
}

.medium-slate-blue-color {
  color: #7b68ee;
}

/* Green Colors */
.green-yellow-color {
  color: #adff2f;
}

.chartreuse-color {
  color: #7fff00;
}

.lawn-green-color {
  color: #7cfc00;
}

.lime-color {
  color: #00ff00;
}

.lime-green-color {
  color: #32cd32;
}

.pale-green-color {
  color: #98fb98;
}

.light-green-color {
  color: #90ee90;
}

.medium-spring-green-color {
  color: #00fa9a;
}

.spring-green-color {
  color: #00ff7f;
}

.medium-sea-green-color {
  color: #3cb371;
}

.sea-green-color {
  color: #2e8b57;
}

.forest-green-color {
  color: #228b22;
}

.green-color {
  color: #008000;
}

.dark-green-color {
  color: #006400;
}

.yellow-green-color {
  color: #9acd32;
}

.olive-drab-color {
  color: #6b8e23;
}

.olive-color {
  color: #808000;
}

.dark-olive-green-color {
  color: #556b2f;
}

.medium-aquamarine-color {
  color: #66cdaa;
}

.dark-sea-green-color {
  color: #8fbc8b;
}

.light-sea-green-color {
  color: #20b2aa;
}

.dark-cyan-color {
  color: #008b8b;
}

.teal-color {
  color: #008080;
}

/* Blue Colors */
.aqua-color {
  color: #00ffff;
}

.cyan-color {
  color: #00ffff;
}

.light-cyan-color {
  color: #e0ffff;
}

.pale-turquoise-color {
  color: #afeeee;
}

.aquamarine-color {
  color: #7fffd4;
}

.turquoise-color {
  color: #40e0d0;
}

.medium-turquoise-color {
  color: #48d1cc;
}

.dark-turquoise-color {
  color: #00ced1;
}

.cadet-blue-color {
  color: #5f9ea0;
}

.steel-blue-color {
  color: #4682b4;
}

.light-steel-blue-color {
  color: #b0c4de;
}

.powder-blue-color {
  color: #b0e0e6;
}

.light-blue-color {
  color: #add8e6;
}

.sky-blue-color {
  color: #87ceeb;
}

.light-sky-blue-color {
  color: #87cefa;
}

.deep-sky-blue-color {
  color: #00bfff;
}

.dodger-blue-color {
  color: #1e90ff;
}

.cornflower-blue-color {
  color: #6495ed;
}

.royal-blue-color {
  color: #4169e1;
}

.blue-color {
  color: #0000ff;
}

.medium-blue-color {
  color: #0000cd;
}

.dark-blue-color {
  color: #00008b;
}

.navy-color {
  color: #000080;
}

.midnight-blue-color {
  color: #191970;
}

/* Brown Colors */
.cornsilk-color {
  color: #fff8dc;
}

.blanched-almond-color {
  color: #ffebcd;
}

.bisque-color {
  color: #ffe4c4;
}

.navajo-white-color {
  color: #ffdead;
}

.wheat-color {
  color: #f5deb3;
}

.burly-wood-color {
  color: #deb887;
}

.tan-color {
  color: #d2b48c;
}

.rosy-brown-color {
  color: #bc8f8f;
}

.sandy-brown-color {
  color: #f4a460;
}

.goldenrod-color {
  color: #daa520;
}

.dark-goldenrod-color {
  color: #b8860b;
}

.peru-color {
  color: #cd853f;
}

.chocolate-color {
  color: #d2691e;
}

.saddle-brown-color {
  color: #8b4513;
}

.sienna-color {
  color: #a0522d;
}

.brown-color {
  color: #a52a2a;
}

.maroon-color {
  color: #800000;
}

/* White Colors */
.white-color {
  color: #ffffff;
}

.snow-color {
  color: #fffafa;
}

.honeydew-color {
  color: #f0fff0;
}

.mint-cream-color {
  color: #f5fffa;
}

.azure-color {
  color: #f0ffff;
}

.alice-blue-color {
  color: #f0f8ff;
}

.ghost-white-color {
  color: #f8f8ff;
}

.white-smoke-color {
  color: #f5f5f5;
}

.sea-shell-color {
  color: #fff5ee;
}

.beige-color {
  color: #f5f5dc;
}

.old-lace-color {
  color: #fdf5e6;
}

.floral-white-color {
  color: #fffaf0;
}

.ivory-color {
  color: #fffff0;
}

.antique-white-color {
  color: #faebd7;
}

.linen-color {
  color: #faf0e6;
}

.lavender-blush-color {
  color: #fff0f5;
}

.misty-rose-color {
  color: #ffe4e1;
}

/* Gray Colors */
.gainsboro-color {
  color: #dcdcdc;
}

.light-gray-color {
  color: #d3d3d3;
}

.silver-color {
  color: #c0c0c0;
}

.dark-gray-color {
  color: #a9a9a9;
}

.gray-color {
  color: #808080;
}

.dim-gray-color {
  color: #696969;
}

.light-slate-gray-color {
  color: #778899;
}

.slate-gray-color {
  color: #4c5d6e;
}
