<div class="content-card-search">
    <h2>Role</h2>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="5" class="pr-3">
        <nz-form-label nzNoColon>Role</nz-form-label>
        <nz-input-group nzPrefixIcon="search" class="form-input">
          <input nz-input placeholder="ชื่อ" [(ngModel)]="filters.role_name" (input)="applyFilters()" />
        </nz-input-group>
      </div>
    </div>
    <div class="mt-5 display-flex justify-center">
      <button nz-button nzType="primary" class="mr-2">ค้นหา</button>
      <button nz-button nzType="default" (click)="showAddRoleModal()">เพิ่มข้อมูล</button>
    </div>
  </div>
  <div class="content-data-table mt-3">
    <nz-table #basicTable nzBordered [nzData]="filteredData">
      <thead>
        <tr>
          <th>ลำดับที่</th>
           <th>Role</th>
          <th>Action</th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filteredData; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ data.role_name }}</td> 
          <td class="text-center">
            <button  nz-button nzType="primary" class="mr-1" nzShape="round">Edit</button>
            <button  nz-button nzType="default" class="mr-1" nzShape="round">Delete</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  
